<script src="./assets/js/address.js"></script>
<div class="wrap" (click)='popupRemove($event)'>
  <div class="innerWrap">
    <h2>마이페이지</h2>
    <ul class="tabBox">
      <li class="bold pointer on" (click)="tabclick($event)">진행 강의 목록</li>
      <li class="bold pointer " (click)="tabclick($event)">완료된 강의 목록</li>
      <li class="bold pointer " (click)="tabclick($event)">개인 정보 변경</li>
    </ul>

    <div class="agreement tabContentBox">
      <table class="lecTb">
        <colgroup>
          <col width="180px">
          <col width="230px">
          <col width="370px">
          <col width="130px">
          <col width="180px">
          <col width="110px">
        </colgroup>
        <thead>
          <tr>
            <th>신청마감일</th>
            <th>강의 이미지</th>
            <th>강의 제목</th>
            <th>회차</th>
            <th>수강인원</th>
            <th>강의진행</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of lecture_yet">
            <td class="ft-22 c-pink" style="padding-top:50px;">
              <span *ngIf="l.dday != null">{{ l.dday | date: 'Y-M-d' }}<br>{{ l.dday | date: 'HH:mm' }}</span>
            </td>
            <td>
              <img src="{{filePath}}{{l.thumbnail1}}" alt="">
            </td>
            <td colspan="4">
              <div class="tdgCtnr">
                <div>
                  <p class="ft-bold ft-22" style="text-align: left;">{{ l.title }}</p>
                  <p class="subtitle ft-16">{{ l.subtitle }}</p>
                </div>
                <p class="ft-22 ft-bold">{{ l.currs.length }}회차</p>
                <p class="ft-22 ft-bold showStudent pointer" (click)="showStudent($event)">{{ l.receipts.length }}명</p>
                <!-- <p class="ft-16">{{ c.datetime | date: 'YY년 MM월 dd일'}}<br>{{ c.datetime | date: 'HH시 mm분'}}</p> -->
                <p> <span class="startClass block pointer">강의시작</span> </p>
              </div>
              <div class="studentList hidden">
                <table class="lecTb">
                  <colgroup>
                    <col width="150px">
                    <col width="220px">
                    <col width="130px">
                    <col width="130px">
                  </colgroup>
                  <thead>
                    <tr>
                      <th>이름</th>
                      <th>소속회사</th>
                      <th>신청일</th>
                      <th>고객정보</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ss of l.receipts">
                      <td>
                        <p class="ft-bold ft-22">{{ ss.user[0].name }}</p>
                      </td>
                      <td>
                        <p class="ft-16">{{ ss.user[0].company[0].name }}</p>
                      </td>
                      <td>
                        <p class="ft-16">{{ ss.date | date:'yyyy-MM-dd hh:mm' }}</p>
                      </td>
                      <td>
                        <p><button mat-button class="studentInfo" (click)="infoShow(ss)">상세정보</button></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="lecture_yet.length == 0" style="padding-top: 50px;"> 현재 진행 예정인 강의가 없습니다.</p>
    </div>
    <div class="certification tabContentBox hidden">
      <table class="lecTb">
        <colgroup>
          <col width="180px">
          <col width="230px">
          <col width="370px">
          <col width="130px">
          <col width="180px">
          <col width="110px">
        </colgroup>
        <thead>
          <tr>
            <th>신청마감일</th>
            <th>강의 이미지</th>
            <th>강의 제목</th>
            <th>회차</th>
            <th>수강인원</th>
            <th>강의진행</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of lecture_end">
            <td class="ft-22 c-pink" style="padding-top:50px;">
              <span *ngIf="l.dday != null">{{ l.dday | date: 'Y-M-d' }}<br>{{ l.dday | date: 'HH:mm' }}</span>
            </td>
            <td>
              <img src="{{filePath}}{{l.thumbnail1}}" alt="">
            </td>
            <td colspan="4">
              <div class="tdgCtnr">
                <div>
                  <p class="ft-bold ft-22" style="text-align: left;">{{ l.title }}</p>
                  <p class="subtitle ft-16">{{ l.subtitle }}</p>
                </div>
                <p class="ft-22 ft-bold">{{ l.currs.length }}회차</p>
                <p class="ft-22 ft-bold showStudent pointer" (click)="showStudent($event)">{{ l.receipts.length }}명</p>
                <!-- <p class="ft-16">{{ c.datetime | date: 'YY년 MM월 dd일'}}<br>{{ c.datetime | date: 'HH시 mm분'}}</p> -->
                <p> <span class="startClass block pointer">강의시작</span> </p>
              </div>
              <div class="studentList hidden">
                <table class="lecTb">
                  <colgroup>
                    <col width="150px">
                    <col width="220px">
                    <col width="130px">
                    <col width="130px">
                  </colgroup>
                  <thead>
                    <tr>
                      <th>이름</th>
                      <th>소속회사/지점</th>
                      <th>연락처</th>
                      <th>발송</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ss of l.receipts">
                      <td>
                        <p class="ft-bold ft-22">{{ ss.user.name }}</p>
                      </td>
                      <td>
                        <p class="ft-16">{{ ss.user.company[0].name }}</p>
                      </td>
                      <td>
                        <p class="ft-16">{{ss.user.contact}}</p>
                      </td>
                      <td>
                        <p><span class="inlineBlock pointer sendKit"></span></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="lecture_end.length == 0" style="padding-top: 50px;"> 진행 완료된 강의가 없습니다.</p>
    </div>
    <div class="personal tabContentBox hidden">
      <form action="/">
        <div class="basic">
          <div class="basicInfo">
            <span class="bold infoTitle">기본 정보</span>
            <button mat-button (click)="changePw()" class="changePwd tryToChange" type='button'>비밀번호 변경</button>
            <div class="floatImg"><img src="{{filePath}}{{info.file}}" width="100%" height="100%" alt=""></div>
            <label class="changeBtn pointer">
              <input type="file" id="file" name="teacher_profile" hidden (change)="showPicture($event)">
            </label>
            <div class="gridBox">
              <div>
                <span class="need">이름</span>
                <mat-form-field>
                  <input matInput [(ngModel)]="info.name" type="text" name="myt.name" required>
                </mat-form-field>
              </div>
              <div>
                <span class="need">이메일</span>
                <mat-form-field>
                  <input matInput [(ngModel)]="info.email" type="text" name="myt.email" required>
                </mat-form-field>
              </div>
              <div class="pwdParts" hidden>
                <span class="need">비밀번호</span>
                <span class="chkPsw" [ngStyle]='{"color":pwdRule.color}'>{{pwdRule.word}}</span>
                <mat-form-field>
                  <input matInput [(ngModel)]="info.pwd" type="password" name="myt.password" (change)='pwdLength($event)'>
                </mat-form-field>
              </div>
              <div class="pwdChkPart" hidden>
                <span class="need">비밀번호 확인</span>
                <span class="chkPsw" [ngStyle]='{"color":pwdChk.color}'>{{pwdChk.word}}</span>
                <mat-form-field>
                  <input matInput type="password" name="b.pwd2" required [(ngModel)]="pwdChk.correct"
                    (keyup)='passChk()'>
                </mat-form-field>
              </div>
              <div>
                <span class="need">생년월일</span>
                <mat-form-field>
                  <input matInput [(ngModel)]="info.birth" type="date" name="myt.homepage" required>
                </mat-form-field>
              </div>
              <div>
                <span class="need">연락처</span>
                <mat-form-field>
                  <input matInput [(ngModel)]="info.contact" type="text" name="myt.contact" required>
                  <mat-hint [ngStyle]='{"color":"#666", "font-size":"14px"}'>- 없이 번호로 입력</mat-hint>
                </mat-form-field>
              </div>
              <div  class="addrDiv">
                <span class="need">주소</span>
                <mat-form-field>
                  <input matInput [(ngModel)]="info.addr" type="text" name="myt.address" required>
                </mat-form-field>
              </div>
              <div>
                <span class="need">상세주소</span>
                <mat-form-field>
                  <input matInput type="text" name="b.subaddr" [(ngModel)]="info.subaddr" required>
                </mat-form-field>
              </div>
              <div>
                <span class="need">성별</span>
                <mat-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="info.gender">
                  <mat-radio-button value="남성" class="bold">&nbsp;&nbsp; 남 </mat-radio-button>
                  <mat-radio-button value="여성" class="bold">&nbsp;&nbsp; 녀 </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="careerBox">
                <span class="need">경력정보 요약</span>
                <textarea name="career" [(ngModel)]="info.career" rows='8'></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="bill">
          <div class="billInfo">
            <span class="bold infoTitle">결 재</span>
            <div class="billKinds">
              <span class="need" style="height:60px;">계산서 유형</span>
              <mat-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="info.accType">
                <mat-radio-button value="세금계산서" class="bold">&nbsp;&nbsp; 세금계산서 </mat-radio-button>
                <mat-radio-button value="계산서(비과세)" class="bold">&nbsp;&nbsp; 계산서(비과세) </mat-radio-button>
                <mat-radio-button value="개인사업소득" class="bold">&nbsp;&nbsp; 개인사업소득 </mat-radio-button>
                <mat-radio-button value="개인기타소득" class="bold">&nbsp;&nbsp; 개인기타소득 </mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <span class="need">정산정보(은행/계좌번호)</span>
              <mat-form-field>
                <mat-label>은행선택</mat-label>
                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="info.bankName">
                  <mat-option *ngFor="let bank of banks" [value]="bank">
                    {{bank}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <input type="text" name="bill.masterWhere" [(ngModel)]="info.bankAcc">
            </div>
            <div>
              <span class="need">주민등록번호 혹은 사업자등록번호</span>
              <input type="text" name="myt.masterWhere" [(ngModel)]="info.reg">
            </div>
          </div>
        </div>
        <div class="lecture">
          <div class="lectureInfo">
            <span class="bold infoTitle c-pink ft-20">강의 관련 정보</span>
            <div>
              <span>학력<button mat-button (click)="addEdu()">추가</button></span>
              <div *ngFor="let e of edus">
                <mat-form-field>
                  <mat-label>학력</mat-label>
                  <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="e.level">
                    <mat-option *ngFor="let t of levels" value="{{ t.value }}">{{ t.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="e.coll" placeholder="학교명">
                </mat-form-field>
                <mat-form-field>
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="e.dep" placeholder="학과명">
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="e.grad"
                    placeholder="졸업일">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>졸업유무</mat-label>
                  <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="e.status">
                    <mat-option *ngFor="let t of collStat" value="{{ t.value }}">{{ t.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-button class="removeBtn" (click)="removeEdu(e)">삭제</button>
              </div>
            </div>
            <div>
              <span>자격증<button mat-button (click)="addcer()">추가</button></span>
              <div *ngFor="let e of certs">
                <mat-form-field>
                  <mat-label>발급기관</mat-label>
                  <input matInput [(ngModel)]="e.agency" name="cer.where">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>자격명</mat-label>
                  <input matInput [(ngModel)]="e.name" name="cer.name">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>급수</mat-label>
                  <input matInput [(ngModel)]="e.level" name="cer.grade">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>자격번호</mat-label>
                  <input matInput [(ngModel)]="e.code" name="cer.number">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>발급일자</mat-label>
                  <input matInput [(ngModel)]="e.date" name="cer.date" type="date">
                </mat-form-field>
                <button mat-button class="removeBtn" (click)="removeCer(e)">삭제</button>
              </div>
            </div>
            <div>
              <span>경력<button mat-button (click)="addcar()">추가</button></span>
              <div *ngFor="let e of careers">
                <mat-form-field>
                  <mat-label>시작일</mat-label>
                  <input matInput [(ngModel)]="e.start" name="ex.start" type="date">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>종료일</mat-label>
                  <input matInput [(ngModel)]="e.end" name="ex.start" type="date">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>강의명</mat-label>
                  <input matInput [(ngModel)]="e.name" name="ex.name">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>강의형태</mat-label>
                  <input matInput [(ngModel)]="e.form" name="ex.form">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>강의횟수</mat-label>
                  <input matInput [(ngModel)]="e.count" name="ex.many" type="number">
                </mat-form-field>
                <button mat-button class="removeBtn" (click)="removeCar(e)">삭제</button>
              </div>
            </div>
            <div>
              <span>교육주제(원인)</span>
              <div class="gridBox">
                <div *ngFor="let s of cause">
                  <mat-checkbox class="wd-30" [ngModelOptions]="{standalone: true}" [(ngModel)]="s.completed">
                    {{ s.name }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
            <div>
              <span>교육주제(반응)</span>
              <div class="gridBox">
                <div *ngFor="let s of react">
                  <mat-checkbox class="wd-30" [ngModelOptions]="{standalone: true}" [(ngModel)]="s.completed">
                    {{ s.name }}
                  </mat-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="btnBox">
            <button mat-button (click)="click()">변경</button>
          </div>
        </div>
