<div class="wrap">
  <div class="innerWrap">
    <h2>마이페이지</h2>
    <ul class="tabBox">
      <li class="bold pointer on" (click)="tabclick($event)">신청 강의 목록</li>
      <li class="bold pointer " (click)="tabclick($event)">완료된 강의 목록</li>
      <li class="bold pointer " (click)="tabclick($event)">개인 정보 변경</li>
    </ul>

    <div class="agreement tabContentBox">
      <table class="lecTb">
        <colgroup>
          <col width="180px">
          <col width="230px">
          <col width="370px">
          <col width="130px">
          <col width="180px">
          <col width="110px">
        </colgroup>
        <thead>
          <tr>
            <th>결재일</th>
            <th>강의 이미지</th>
            <th>강의 제목</th>
            <th>회차</th>
            <th>수강인원</th>
            <th>강의 시간</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of lectList">
            <td class="ft-22 c-pink">
              {{ l.applied }}
              <!-- {{ l.applied | date: 'YYYY-MM-dd' }} -->
            </td>
            <td>
              <img src="assets/images/banner/{{ l.file[0].path }}" alt="">
            </td>
            <td colspan="4">
              <div class="tdgCtnr">
                <div>
                  <p class="ft-bold ft-22" style="text-align: left;">{{ l.title }}</p>
                  <p class="subtitle ft-16">{{ l.subtitle }}</p>
                </div>
                <p class="ft-22 ft-bold">{{ l.number }}회차</p>
                <p class="ft-22 ft-bold showStudent pointer">{{ l.student}}명</p>
                <!-- <p class="ft-16">{{ c.datetime | date: 'YY년 MM월 dd일'}}<br>{{ c.datetime | date: 'HH시 mm분'}}</p> -->
                <p> <span class="startClass block pointer">강의시작</span> </p>
              </div>
              <div class="studentList hidden">
                <table class="lecTb">
                  <colgroup>
                    <col width="150px">
                    <col width="220px">
                    <col width="130px">
                    <col width="130px">
                  </colgroup>
                  <thead>
                    <tr>
                      <th>이름</th>
                      <th>소속회사/지점</th>
                      <th>연락처</th>
                      <th>발송</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ss of l.students">
                      <td>
                        <p class="ft-bold ft-22">{{ ss.name }}</p>
                      </td>
                      <td>
                        <p class="ft-16">{{ ss.company }}</p>
                      </td>
                      <td>
                        <p class="ft-16">{{ss.contact}}</p>
                      </td>
                      <td>
                        <p><span class="inlineBlock pointer sendKit"></span></p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="certification tabContentBox hidden">
      <table class="lecTb">
        <colgroup>
          <col width="180px">
          <col width="230px">
          <col width="370px">
          <col width="130px">
          <col width="180px">
          <col width="110px">
        </colgroup>
        <thead>
          <tr>
            <th>결재일</th>
            <th>강의 이미지</th>
            <th>강의 제목</th>
            <th>회차</th>
            <th>강의 일정</th>
            <th>강의 시간</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of lectList">
            <td rowspan="l.curr.length" class="ft-22 c-pink">
              {{ l.applied }}
            </td>
            <td rowspan="l.curr.length">
              <img src="assets/images/banner/{{ l.file[0].path }}" alt="">
            </td>
            <td colspan="4">
              <p class="ft-bold ft-22" style="text-align: left; padding: 20px 20px;">{{ l.title }}</p>
              <div class="tdgCtnr" *ngFor="let c of l.curr">
                <p class="subtitle ft-16">{{ c.number }}. {{ c.title }}</p>
                <p class="ft-22 ft-bold">{{ c.number }}회차</p>
                <p class="ft-16">{{ c.datetime }}<br>{{ c.datetime }}</p>
                <p class="ft-22 ft-bold">{{ c.runtime }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="personal tabContentBox hidden">
      <div class="basic">
        <div class="basicInfo">
          <span class="bold infoTitle">기본 정보</span>
          <div class="gridBox">
            <div>
              <span>이름</span>
              <input type="text" name="b.name" required>
            </div>
            <div>
              <span>연락처</span>
              <input type="text" name="b.branch" required>
            </div>
            <div>
              <span>생년월일</span>
              <input type="text" name="j.workGroup" required>
            </div>
            <div>
              <span>이메일</span>
              <input type="email" name="j.workRank" required>
            </div>
            <div>
              <span>성별</span>
              <mat-radio-group>
                <mat-radio-button value="1" name="sex" class="bold">&nbsp;&nbsp; 남 </mat-radio-button>
                <mat-radio-button value="2" name="sex" class="bold">&nbsp;&nbsp; 녀 </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <div class="addition">
          <div class="additionInfo">
            <span class="bold infoTitle">추가 정보</span>
            <div class="gridBox">
              <div>
                <span>결혼유무</span>
                <mat-radio-group>
                  <mat-radio-button value="1" name="marriage" class="bold">&nbsp;&nbsp; 유 </mat-radio-button>
                  <mat-radio-button value="2" name="marriage" class="bold">&nbsp;&nbsp; 무 </mat-radio-button>
                </mat-radio-group>
                <!-- <input type="radio" name="child" value='1'> 유
                    <input type="radio" name="child" value='2'> 무 -->
              </div>
              <div>
                <span>자녀유무</span>
                <mat-radio-group>
                  <mat-radio-button value="1" name="child" class="bold">&nbsp;&nbsp; 유 </mat-radio-button>
                  <mat-radio-button value="2" name="child" class="bold">&nbsp;&nbsp; 무 </mat-radio-button>
                </mat-radio-group>
                <!-- <input type="radio" name="child" value='1'> 유
                    <input type="radio" name="child" value='2'> 무 -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="jobs">
        <div class="jobsInfo">
          <span class="bold infoTitle">회사 정보</span>
          <div class="gridBox">
            <div>
              <span>직장명</span>
              <input type="text" name="j.name" required>
            </div>
            <div>
              <span>부서</span>
              <input type="text" name="j.part" required>
            </div>
            <div>
              <span>직급</span>
              <input type="text" name="j.rank" required>
            </div>
            <div>
              <span>회사 이메일</span>
              <input type="email" name="j.mail" required>
            </div>
            <div>
              <span>근무지역</span>
              <input type="text" name="j.position" required>
            </div>
          </div>
        </div>
      </div>
      <div class="interest">
        <div class="interestInfo">
          <span class="bold infoTitle">관심 영역</span>
          <div class="gridBox">
            <div *ngFor="let i of interests">
              <mat-checkbox [(ngModel)]="i.completed" name="i.name">
                {{i.value}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
