<div class="wrap">
  <div class="innerWrap">
    <h2>회원가입</h2>
    <ul class="tabBox">
      <li class="bold pointer on" (click)="tabclick($event)">이용약관 동의</li>
      <li class="bold pointer " (click)="tabclick($event)">본인 인증</li>
      <li class="bold pointer " (click)="tabclick($event)">회원 정보 입력</li>
      <li class="bold pointer " (click)="tabclick($event)">가입 완료</li>
    </ul>
    <form action="/">

      <div class="agreement tabContentBox">
        <p class="bold">서비스 이용을 위해 이용약관 동의가 필요합니다.</p>
        <div class="agreeBox">
          <p class="allAgree bold">전체 동의<span class="agreeHole pointer" (click)='allchk($event)'></span></p>
          <div>
            <p class="agreeKinds"><span class="underline">이용약관</span> (필수)</p>
            <label class="agreeHole pointer" (click)="onechk($event)"><input type="checkbox" name="a_info_useage"
                class="hidden" required></label>
            <div class="agreeDetail">
              {{ agreement.userRule }}
            </div>
          </div>
          <div>
            <p class="agreeKinds"><span class="underline">개인정보취급방침</span> 이용약관 (필수)</p>
            <label class="agreeHole pointer" (click)="onechk($event)"><input type="checkbox" name="a_position"
                class="hidden" required></label>
            <div class="agreeDetail">
              {{ agreement.privRule }}
            </div>
          </div>
          <div>
            <p class="agreeKinds"><span class="underline">마케팅 활용 동의</span> (선택)</p>
            <label class="agreeHole pointer" (click)="onechk($event)"><input type="checkbox" name="a_marketing"
                class="hidden"></label>
            <div class="agreeDetail">
              {{ agreement.marketing }}
            </div>
          </div>
          <div class="btnBox">
            <button mat-button class="next bold" (click)='nextBtn($event)'>다음</button>
          </div>
        </div>
      </div>
      <div class="certification tabContentBox hidden">
        <p class="bold">마음도씨 이용을 위해 본인인증이 필요합니다.</p>
        <div class="emailBox">
          <p class="emailTitle bold">이메일 인증<span class="designA"></span></p>

          <div class="mailAddress">
            <div>
              <span>이메일 주소</span>
              <input type="email" name="e.email">
            </div>
            <button mat-button>인증코드 전송</button>
          </div>
          <div class="mailCertifi">
            <div>
              <span>인증코드</span>
              <input type="text" name="e.code"  required>
            </div>
            <button mat-button>인증코드 확인</button>
          </div>
        </div>
        <div class="companyBox">
          <p class="companyTitle bold">회사 정보 인증<span class="designA"></span></p>
          <div class="companyCode">
            <div>
              <span>회사코드입력</span>
              <input type="text" name="c.code" [(ngModel)]="companyInfo.reg"  required>
            </div>
            <button mat-button (click)="confirm()">회사 코드 확인</button>
          </div>
          <div class="companyName">
            <div>
              <span>직장명</span>
              <input type="text" name="c.name" [(ngModel)]="companyInfo.name" disabled>
            </div>
          </div>
          <div class="companyPart">
            <div>
              <span>부서명</span>
              <input type="text" name="c.part" [(ngModel)]="companyInfo.part" disabled>
            </div>
          </div>
          <div class="companyRank">
            <div>
              <span>직급</span>
              <input type="text" name="c.rank" [(ngModel)]="info.rank" required>
            </div>
          </div>
          <!-- <div class="companyInfo">
            <span class="bold infoTitle">회사 정보</span>
            <div class="gridBox">
              <div>
                <span>회사명</span>
                <input type="text" name="j.name" placeholder="ex) 니나노컴퍼니" required>
              </div>
              <div>
                <span>소속/지점</span>
                <input type="text" name="j.branch" placeholder="ex) 용산동 지점" required>
              </div>
              <div>
                <span>부서명</span>
                <input type="text" name="j.workGroup" placeholder="ex) 총무부" required>
              </div>
              <div>
                <span>직급WLR</span>
                <input type="text" name="j.workRank" placeholder="ex) 과장" required>
              </div>
              <div>
                <span>근무지</span>
                <input type="text" name="j.position" placeholder="ex) 대구시 달서구" required>
              </div>
              <div>
                <span>회사이메일</span>
                <input type="email" name="j.email" placeholder="ex) aaaa@bbbb.com" required>
              </div>
            </div>
            <div class="btnBox">
              <button mat-button class="next bold" (click)='nextBtn($event)'>다음</button>
            </div>
          </div> -->
          <div class="btnBox">
            <button mat-button class="next bold" (click)='nextBtn($event)'>다음</button>
          </div>
        </div>
      </div>
      <div class="personal tabContentBox hidden">
        <div class="basic">
          <div class="basicInfo">
            <span class="bold infoTitle">기본정보</span>
            <div class="gridBox">
              <div>
                <span>ID</span>
                <input type="text" name="b.uname" [(ngModel)]="info.uname" required>
              </div>
              <div>
                <span>Password</span>
                <input type="password" name="b.pwd" [(ngModel)]="info.pwd" required>
              </div>
              <div>
                <span>이름</span>
                <input type="text" name="b.name" [(ngModel)]="info.name" required>
              </div>
              <div>
                <span>연락처</span>
                <input type="text" name="b.branch"  [(ngModel)]="info.contact" required>
              </div>
              <div>
                <span>생년월일</span>
                <input type="date" name="j.workGroup" [(ngModel)]="info.birth" required>
              </div>
              <div>
              </div>
              <div>
                <span>성별</span>
                <mat-radio-group [(ngModel)]="info.gender" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button value="남성" class="bold">&nbsp;&nbsp; 남 </mat-radio-button>
                  <mat-radio-button value="여성" class="bold">&nbsp;&nbsp; 녀 </mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <span>자녀유무</span>
                <mat-radio-group [(ngModel)]="info.child" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button value="유" class="bold">&nbsp;&nbsp; 유 </mat-radio-button>
                  <mat-radio-button value="무" class="bold">&nbsp;&nbsp; 무 </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="jobs">
          <div class="jobsInfo">
            <span class="bold infoTitle">회사정보</span>
            <div class="gridBox">
              <div>
                <span>직장명</span>
                <input type="text" name="j.name" [(ngModel)]="companyInfo.name" disabled>
              </div>
              <div>
                <span>부서</span>
                <input type="text" name="j.part" [(ngModel)]="companyInfo.part" disabled>
              </div>
              <div>
                <span>직급</span>
                <input type="text" name="j.rank" [(ngModel)]="info.rank" disabled>
              </div>
              <div>
                <span>회사 이메일</span>
                <input type="email" name="j.mail" [(ngModel)]="info.email" disabled>
              </div>
              <div>
                <span>근무지역</span>
                <input type="text" name="j.position" [(ngModel)]="info.region" required>
              </div>
            </div>
          </div>
        </div>
        <div class="interest">
          <div class="interestInfo">
            <span class="bold infoTitle">관심영역</span>
            <div class="gridBox">
              <div *ngFor="let i of interests">
                <mat-checkbox [(ngModel)]="i.completed" name="i.name">
                  {{i.value}}
                </mat-checkbox>
              </div>
          </div>
        </div>
      </div>
      <div class="btnBox">
        <!-- 서브밋 버튼이 되어야함 -->
        <button mat-button class="next bold" (click)='nextBtn($event); reg();'>다음</button>
      </div>
  </div>
  <div class="finish tabContentBox hidden">
    <div class="finishBox">
      <div class="charactor"></div>
      <p class="bold"><span>홍길동</span> 님 환영합니다!</p>
      <p class="bold">마음도씨 회원가입이 완료 되었습니다.</p>
    </div>
    <div class="btnBox">
      <button mat-button [routerLink]="['']" class="next bold">확인</button>
    </div>
  </div>
  
  </form>
</div>
</div>