<script src="./assets/js/address.js"></script>
<div class="wrap" (click)='popupRemove($event)'>
  <div class="innerWrap">
    <h2>회원가입</h2>
    <ul class="tabBox">
      <li class="bold on">이용약관 동의</li>
      <li class="bold ">본인 인증</li>
      <li class="bold ">회원 정보 입력</li>
      <!-- <li class="bold ">가입 완료</li> -->
    </ul>
    <form action="/">

      <div class="agreement tabContentBox">
        <p class="bold">서비스 이용을 위해 이용약관 동의가 필요합니다.</p>
        <div class="agreeBox">
          <p class="allAgree bold">전체 동의<span class="agreeHole pointer" (click)='allchk($event)'></span></p>
          <div>
            <p class="agreeKinds"><span class="underline">이용약관</span> (필수)</p>
            <div class="agreeDetail" style="white-space:pre-wrap;">
              {{ agreement.userRule }}
            </div>
            <label class="pointer need neccesary"><span class="agreeHole" (click)="onechk($event)"></span><input
                type="checkbox" name="a_info_useage" class="hidden" required> 동의 </label>
          </div>
          <div>
            <p class="agreeKinds"><span class="underline">개인정보취급방침</span> 이용약관 (필수)</p>
            <div class="agreeDetail" style="white-space:pre-wrap;">
              {{ agreement.privRule }}
            </div>
            <label class="pointer need neccesary"><span class="agreeHole" (click)="onechk($event)"></span><input
                type="checkbox" name="a_info_useage" class="hidden" required> 동의 </label>
          </div>
          <div>
            <p class="agreeKinds"><span class="underline">마케팅 활용 동의</span> (선택)</p>
            <div class="agreeDetail" style="white-space:pre-wrap;">
              {{ agreement.marketing }}
            </div>
            <label class="pointer "><span class="agreeHole" (click)="onechk($event)"></span><input type="checkbox"
                name="a_info_useage" class="hidden" required> 동의 </label>
          </div>
          <div class="btnBox">
            <button mat-button class="next bold" (click)='beforeNext1($event)'>다음</button>
          </div>
        </div>
      </div>
      <div class="certification tabContentBox hidden">
        <p class="bold">마음도씨 이용을 위해 본인인증이 필요합니다.</p>
        <div class="emailBox">
          <p class="emailTitle bold">이메일 인증<span class="designA"></span></p>

          <div class="mailAddress">
            <div>
              <span class="need">이메일 주소</span>
              <input type="email" name="e.email" [(ngModel)]="info.email">
            </div>
            <button mat-button (click)="send()">인증코드 전송</button>
          </div>
          <div class="mailCertifi">
            <div>
              <span class="need">인증코드</span>
              <input type="text" name="e.code" class="neccesary" required>
            </div>
            <button mat-button (click)="clear($event)">인증코드 확인</button>
          </div>
        </div>
        <div class="companyBox">
          <p class="companyTitle bold">회사 정보 인증<span class="designA"></span></p>
          <div class="companyCode">
            <div>
              <span class="need">회사코드입력</span>
              <input type="text" name="c.code" [(ngModel)]="companyInfo.code" required>
            </div>
            <button mat-button (click)="confirm()">회사 코드 확인</button>
          </div>
          <div class="companyName">
            <div>
              <span class="need">직장명</span>
              <input type="text" name="c.name" [(ngModel)]="companyInfo.name" disabled>
            </div>
          </div>
          <div class="companyPart">
            <div>
              <span class="need">소속 / 지점</span>
              <input type="text" name="c.spot" [(ngModel)]="info.spot">
            </div>
          </div>
          <div class="companyPart">
            <div>
              <span class="need">부서명</span>
              <input type="text" name="c.part" [(ngModel)]="info.part">
            </div>
          </div>
          <div class="companyRank">
            <div>
              <span class="need">직급</span>
              <input type="text" name="c.rank" [(ngModel)]="info.rank" required>
            </div>
          </div>
          <div class="btnBox">
            <button mat-button class="next bold" (click)='prevBtn($event)'>이전</button>
            <button mat-button class="next bold" (click)='beforeNext2($event)'>다음</button>
          </div>
        </div>
      </div>
      <div class="personal tabContentBox hidden">
        <div class="basic">
          <div class="basicInfo">
            <span class="bold infoTitle">기본정보</span>
            <div class="gridBox">
              <div>
                <span class="need">ID</span>
                <mat-form-field>
                  <input matInput type="text" name="b.uname" [(ngModel)]="info.uname" required>
                </mat-form-field>
              </div>
              <div>
                <span class="need">Password</span>
                <span class="chkPsw" [ngStyle]='{"color":pwdRule.color}'>{{pwdRule.word}}</span>
                <mat-form-field>
                  <input matInput type="password" name="b.pwd" [(ngModel)]="info.pwd" required minlength="8" maxlength="20" (change)='pwdLength($event)'>
                </mat-form-field>
              </div>
              <div>
                <span class="need">이름</span>
                <mat-form-field>
                  <input matInput type="text" name="b.name" [(ngModel)]="info.name" required>
                </mat-form-field>
              </div>
              <div>
                <span class="need">Password 확인</span>
                <span class="chkPsw" [ngStyle]='{"color":pwdChk.color}'>{{pwdChk.word}}</span>
                <mat-form-field>
                  <input matInput type="password" name="b.pwd2" required [(ngModel)]="pwdChk.correct" (keyup)='passChk()'>
                </mat-form-field>
              </div>
              <div>
                <span class="need">연락처</span>
                <mat-form-field>
                  <input matInput type="text" name="b.branch" [(ngModel)]="info.contact" required>
                </mat-form-field>
              </div>
              <div>
                <span class="need">생년월일</span>
                <mat-form-field>
                  <input matInput type="date" name="j.workGroup" [(ngModel)]="info.birth" required>
                </mat-form-field>
              </div>
              <div class="addrDiv">
                <span class="need">주소
                  <!-- <button (click)="addr()">주소검색</button> -->
                </span>
                <mat-form-field (click)="addr()">
                  <input matInput type="text" name="b.addrs" [(ngModel)]="info.addr" disabled>
                </mat-form-field>
              </div>
              <div>
                <span class="need">상세주소</span>
                <mat-form-field>
                  <input matInput type="text" name="b.subaddr" [(ngModel)]="info.subaddr" required>
                </mat-form-field>
              </div>
              
              <div>
                <span class="need">성별</span>
                <mat-radio-group [(ngModel)]="info.gender" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button value="남성" class="bold">&nbsp;&nbsp; 남 </mat-radio-button>
                  <mat-radio-button value="여성" class="bold">&nbsp;&nbsp; 녀 </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="basic">
          <div class="basicInfo">
            <span class="bold infoTitle">선택정보</span>
            <div class="gridBox">
              <div>
                <span class="checkFalse" (click)="nochild()">자녀유무</span>
                <mat-radio-group [(ngModel)]="info.child" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button value="유" class="bold">&nbsp;&nbsp; 유 </mat-radio-button>
                  <mat-radio-button value="무" class="bold">&nbsp;&nbsp; 무 </mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <span class="checkFalse" (click)="nomerry()">결혼유무</span>
                <mat-radio-group [(ngModel)]="info.merry" [ngModelOptions]="{standalone: true}">
                  <mat-radio-button value="유" class="bold">&nbsp;&nbsp; 유 </mat-radio-button>
                  <mat-radio-button value="무" class="bold">&nbsp;&nbsp; 무 </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="jobs">
          <div class="jobsInfo">
            <span class="bold infoTitle">회사정보</span>
            <div class="gridBox">
              <div>
                <span class="need">직장명</span>
                <mat-form-field>
                  <input matInput type="text" name="j.name" [(ngModel)]="companyInfo.name" disabled>
                </mat-form-field>
              </div>
              <div>
                <span class="need">소속 / 지점</span>
                <mat-form-field>
                  <input matInput type="text" name="j.spot" [(ngModel)]="info.spot" disabled>
                </mat-form-field>
              </div>
              <div>
                <span class="need">부서</span>
                <mat-form-field>
                  <input matInput type="text" name="j.part" [(ngModel)]="info.part" disabled>
                </mat-form-field>
              </div>
              <div>
                <span class="need">직급</span>
                <mat-form-field>
                  <input matInput type="text" name="j.rank" [(ngModel)]="info.rank" disabled>
                </mat-form-field>
              </div>
              <div>
                <span class="need">회사 이메일</span>
                <mat-form-field>
                  <input matInput type="email" name="j.mail" [(ngModel)]="info.email" disabled>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="interest">
          <div class="interestInfo">
            <span class="bold infoTitle">관심영역</span>
            <div class="gridBox">
              <div *ngFor="let i of interests">
                <mat-checkbox [(ngModel)]="i.completed" name="i.name">
                  {{i.value}}
                </mat-checkbox>
              </div>
            </div>
          </div>
          <div class="btnBox">
            <!-- 서브밋 버튼이 되어야함 -->
            <button mat-button class="next bold" (click)='prevBtn($event)'>이전</button>
            <button mat-button class="next bold" (click)='beforeNext3($event)'>다음</button>
          </div>
        </div>
        <!-- <div class="finish tabContentBox hidden">
          <div class="finishBox">
            <div class="charactor"></div>
            <p class="bold"><span>{{ info.name }}</span> 님 환영합니다!</p>
            <p class="bold">마음도씨 회원가입이 완료 되었습니다.</p>
          </div>
          <div class="btnBox">
            <button mat-button [routerLink]="['']" class="next bold">확인</button>
          </div>
        </div> -->
      </div>
    </form>
  </div>
</div>

<div #daum_popup class="daum" style="display:none;position:fixed;overflow:hidden;z-index:1;">
</div>
