<div class="innerWrap">
    <p class="title">문의하기</p>
    <div class="containerBox">
        <div class="titleBox">글쓰기</div>
        <div class="contentBox">
            <div class="content">
                <p class="need">제목</p>
                <mat-form-field class="form">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="conGrid">
                <div class="content">
                    <p style="line-height: 32px;">번호</p>
                    <mat-form-field class="form">
                        <input type="number" matInput>
                    </mat-form-field>
                </div>
                <div class="content">
                    <p class="need">문의자</p>
                    <mat-form-field class="form">
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="content">
                    <p class="need">비밀번호</p>
                    <mat-form-field class="form">
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="content">
                <p>내용</p>
                <textarea name="descC" class="form-control" placeholder="문의 내용을 남겨주세요."></textarea>
            </div>
        </div>
    </div>
    <div class="goInquire">
        <button mat-button>문의하기</button>
      </div>
</div>
