<div class="wrap">
    <div class="innerWrap">
        <div class="Categories">
            <ul class="bigList">
                <li *ngFor ='let c of category'
                [class.selected]="c === selectedC"
                (click)='onselect(c,$event)'
                class="pointer">
                    <span class="inlineBlock img">
                        <img src="{{c.image}}" alt="{{c.title}} 아이콘">
                    </span>
                    <span class="inlineBlock bold bigC">{{c.title}}</span>
                </li>
            </ul>
            <div class="subList" *ngIf="selectedC">
                <li *ngFor ='let sc of selectedC.subtitle' class="pointer" (click)='bold($event)'>{{sc.subname}}</li>
            </div>
        </div>
        <div class="showLives">
            <h3 class="show_title bold">{{title}}
                <!-- <select class="form-select">
                    <option selected>전체</option>
                    <option value="진행">진행</option>
                    <option value="종료">종료</option>
                </select> -->
            </h3>
            <div class="liveListGrid">
              <div *ngFor='let r of info' class="designedBox">
                <div class="process">{{r.process}}</div>
                <!-- 프로세스 'OPEN 예정' 필요  -->
                <div class="classcategory hidden" [style.background]='color'><span class="subcategory">{{r.interests}}</span></div>
                <div class="company" *ngIf='r.company'>{{r.company}}</div>
                <!-- 서브 카테고리 마다 색이 들어가야함  메인 카테고리 , 서브 카테고리 필요-->
                <div class="itemHeader">{{r.title}}</div>
                <div class="itemImg"><img src="../../../assets/images/banner/flower.png" alt="/"></div>
                <!-- 섬네일을 못불러와서 임의로 넣음  -->
                <div class='degreeBox'>
                  <span class="thermo"><span [ngStyle]="{'width.px': r.degree*3}"
                      class="thermoBar textHidden">{{r.degree}}</span></span>
                      <!-- 온도 더미 -->
                  <span class="remainDate">{{r.remain}}일 남음</span>
                  <!-- 남는 날짜 계산을 우짜지.. -->
                  <span class="degrees">{{r.degree}} ºC 마음도씨</span>
                </div>
                <div class="smallText">
                  <span>{{r.subtitle}}</span>
                </div>
                <span class="goDetail inlineBlock pointer"></span>
              </div>
            </div>
        </div>
    </div>
</div>