<div class="wrap">
  <div class="innerWrap">
    <h2>마이페이지</h2>
    <ul class="tabBox">
      <li class="bold pointer on" (click)="tabclick($event)">신청 강의 목록</li>
      <li class="bold pointer " (click)="tabclick($event)">완료된 강의 목록</li>
      <li class="bold pointer " (click)="tabclick($event)">개인 정보 변경</li>
    </ul>
    <form action="/">

      <div class="agreement tabContentBox">
        <table class="lecTb">
          <colgroup>
            <col width="180px">
            <col width="230px">
            <col width="370px">
            <col width="130px">
            <col width="180px">
            <col width="110px">
          </colgroup>
          <thead>
            <tr>
              <th>결재일</th>
              <th>강의 이미지</th>
              <th>강의 제목</th>
              <th>회차</th>
              <th>강의 일정</th>
              <th>강의 시간</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of receipt_yet">
              <td class="ft-22 c-pink">
                <span>{{ l.date | date: 'Y-M-d' }}</span>
              </td>
              <td>
                <img src="{{ filePath }}{{ l.lecture[0].thumbnail1 }}" alt="">
              </td>
              <td colspan="4">
                <p class="ft-bold ft-22" style="text-align: left; padding: 20px 40px;">{{ l.lecture[0].title }}</p>
                <div class="tdgCtnr" *ngFor="let c of l.lecture[0].currs">
                  <p class="subtitle ft-16">{{ c.stage }}. {{ c.title }}</p>
                  <p class="ft-22 ft-bold">{{ c.stage }}회차</p>
                  <p class="ft-16"><span *ngIf="c.date != null">{{ c.date | date: 'Y-M-d' }}<br>{{ c.date | date: 'HH:mm' }}</span></p>
                  <p class="ft-22 ft-bold">{{ c.dur }}분</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="certification tabContentBox hidden">
        <table class="lecTb">
          <colgroup>
            <col width="180px">
            <col width="230px">
            <col width="370px">
            <col width="130px">
            <col width="180px">
            <col width="110px">
          </colgroup>
          <thead>
            <tr>
              <th>결재일</th>
              <th>강의 이미지</th>
              <th>강의 제목</th>
              <th>회차</th>
              <th>강의 일정</th>
              <th>강의 시간</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let l of receipt_end">
              <td class="ft-22 c-pink">
                <span>{{ l.date | date: 'Y-M-d' }}</span>
              </td>
              <td>
                <img src="{{ filePath }}{{ l.lecture[0].thumbnail1 }}" alt="">
              </td>
              <td colspan="4">
                <p class="ft-bold ft-22" style="text-align: left; padding: 20px 40px;">{{ l.lecture[0].title }}</p>
                <div class="tdgCtnr" *ngFor="let c of l.lecture[0].currs">
                  <p class="subtitle ft-16">{{ c.stage }}. {{ c.title }}</p>
                  <p class="ft-22 ft-bold">{{ c.stage }}회차</p>
                  <p class="ft-16"><span *ngIf="c.date != null">{{ c.date | date: 'Y-M-d' }}<br>{{ c.date | date: 'HH:mm' }}</span></p>
                  <p class="ft-22 ft-bold">{{ c.dur }}분</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="personal tabContentBox hidden">
        <div class="basic">
          <div class="basicInfo">
            <span class="bold infoTitle">기본 정보</span>
            <div class="gridBox">
              <div>
                <span>이름</span>
                <input type="text" name="b.name"  [(ngModel)]="user.name" required>
              </div>
              <div>
                <span>비밀번호</span>
                <input type="password" name="b.pwd"  [(ngModel)]="user.pwd" required>
              </div>
              <div>
                <span>연락처</span>
                <input type="text" name="b.branch"   [(ngModel)]="user.contact" required>
              </div>
              <div>
                <span>주소</span>
                <input type="text" name="b.addr"   [(ngModel)]="user.addr" required>
              </div>
              <div>
                <span>상세주소</span>
                <input type="text" name="b.subaddr"   [(ngModel)]="user.subaddr" required>
              </div>
              <div>
                <span>생년월일</span>
                <input type="date" name="j.birth"  [(ngModel)]="user.birth" required>
              </div>
              <div>
                <span>성별</span>
                <mat-radio-group name="gender" [(ngModel)]="user.gender">
                  <mat-radio-button value="남성" class="bold">&nbsp;&nbsp; 남 </mat-radio-button>
                  <mat-radio-button value="여성" class="bold">&nbsp;&nbsp; 녀 </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="addition">
            <div class="additionInfo">
              <span class="bold infoTitle">추가 정보</span>
              <div class="gridBox">
              <div>
                <span class="checkFalse" (click)='nochild()'>결혼유무</span>
                <mat-radio-group name="merry" [(ngModel)]="user.merry">
                  <mat-radio-button value="유" class="bold">&nbsp;&nbsp; 유 </mat-radio-button>
                  <mat-radio-button value="무" class="bold">&nbsp;&nbsp; 무 </mat-radio-button>
                </mat-radio-group>
                <!-- <input type="radio" name="child" value='1'> 유
                  <input type="radio" name="child" value='2'> 무 -->
                </div>
                <div>
                  <span class="checkFalse" (click)='nomerry()'>자녀유무</span>
                  <mat-radio-group name="child" [(ngModel)]="user.child">
                    <mat-radio-button value="유" class="bold">&nbsp;&nbsp; 유 </mat-radio-button>
                    <mat-radio-button value="무" class="bold">&nbsp;&nbsp; 무 </mat-radio-button>
                  </mat-radio-group>
                  <!-- <input type="radio" name="child" value='1'> 유
                  <input type="radio" name="child" value='2'> 무 -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="jobs">
          <div class="jobsInfo">
            <span class="bold infoTitle">회사 정보</span>
            <div class="gridBox">
              <div>
                <span>직장명</span>
                <input type="text" name="j.name"  [(ngModel)]="user.company.name" disabled>
              </div>
              <div>
                <span>소속 / 지점</span>
                <input type="text" name="j.spot" [(ngModel)]="user.spot" required>
              </div>
              <div>
                <span>부서</span>
                <input type="text" name="j.part" [(ngModel)]="user.part" required>
              </div>
              <div>
                <span>직급</span>
                <input type="text" name="j.rank"  [(ngModel)]="user.rank" required>
              </div>
              <div>
                <span>회사 이메일</span>
                <input type="email" name="j.mail"  [(ngModel)]="user.email" required>
              </div>
            </div>
          </div>
        </div>
        <div class="interest">
          <div class="interestInfo">
            <span class="bold infoTitle">관심 영역</span>
            <div class="gridBox">
              <div *ngFor="let i of interests">
                <mat-checkbox 
                  [(ngModel)]="i.completed"
                  name="i.name"
                  >
                  {{i.value}}
                </mat-checkbox>
              </div>
          </div>
        </div>
      </div>
      <div class="btnBox">
        <!-- 서브밋 버튼이 되어야함 -->
        <button mat-button class="next bold" (click)="click();">저장</button>
      </div>
    </div>
  </form>
</div>
</div>