<div class="wrap">
  <!-- Category -->
  <section class="category container">
    <div class="row">
      <div class="col-3 content">
        <img src="../../../assets/images/icon2/life.png" style="padding-right: 20px">
        인생여정
      </div>
      <div class="col-3 content">
        <img src="../../../assets/images/icon2/social.png" style="padding-right: 20px">
        사회생활
      </div>
      <div class="col-3 content">
        <img src="../../../assets/images/icon2/healing.png" style="padding-right: 20px">
        힐링
      </div>
      <div class="col-3 content">
        <img src="../../../assets/images/icon2/mental.png" style="padding-right: 20px">
        심리
      </div>
    </div>
    <div class="row arrow">
      <img src="../../../assets/images/icon/arrow_category.png" style="padding-left:150px">
    </div>
    <div class="row box">
      <!-- <div class="col item selected">연애/결혼</div> -->
      <div class="col item">연애/결혼</div>
      <div class="col item">자녀양육</div>
      <div class="col item">부부관계</div>
      <div class="col item">인생2막</div>
    </div>
  </section>

  <!-- Class abstract -->
  <section class="abstract container">

    <div class="row">
      <div class="col-6">
        <div class="row mainpic">
          <img width="530px" height="384px" src="{{filePath}}{{info.thumbnail1}}">
        </div>
        <div class="row thumbnail">
          <div class="col-3 item" *ngIf="info.thumbnail1 != null">
            <img src="{{filePath}}{{info.thumbnail1}}" (mouseover)='thumbnail($event)'>
          </div>
          <div class="col-3 item" *ngIf="info.thumbnail2 != null">
            <img src="{{filePath}}{{info.thumbnail2}}" (mouseover)='thumbnail($event)'>
          </div>
          <div class="col-3 item" *ngIf="info.thumbnail3 != null">
            <img src="{{filePath}}{{info.thumbnail3}}" (mouseover)='thumbnail($event)'>
          </div>
          <div class="col-3 item" *ngIf="info.thumbnail4 != null">
            <img src="{{filePath}}{{info.thumbnail4}}" (mouseover)='thumbnail($event)'>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="title-header">
          <!-- <div class="title progress-rect">{{detail.progress}}</div> -->
          <div class="col title title-main">{{ info.title }}</div>
        </div>
        <div>
          <div class="subtitle">
            <div class="desc">
              {{ info.subtitle }}
            </div>
          </div>
        </div>
        <div class="row dah">
          <div class="remain"><span class="remainDate"><span *ngIf="dday_c == true">D</span>{{dday}}</span></div>
          <div class="hashtag">
            <span>&nbsp;&nbsp;</span>
          </div>
        </div>
        <div class="row temper">
          <div class="thermo"><span class="thermoBar textHidden" [ngStyle]="{'width.px': info.degree*3}"></span></div>
          <div class="temperature"><span class="tempNum">{{info.degree}} </span> ºC 마음도씨</div>
        </div>
        <div class="row classInfoBox">
          <div class="classTitle">클래스일정</div>
          <div class="round"><span class="rtime">{{sum}}</span>분&nbsp;<span
              class="rnum">{{stgs}}</span>회기</div>
          <div class="classTable">
            <div class="tableHeader tableRow">
              <span class="inlineBlock">회기</span>
              <span class="inlineBlock">일시</span>
              <span class="inlineBlock">강의 시간</span>
            </div>
            <div class="tableData tableRow" *ngFor='let c of info.currs'>
              <span class="inlineBlock">{{c.stage}}회기</span>
              <span class="inlineBlock">{{c.date | date: 'Y년 M월 d일 HH:mm'}}</span>
              <span class="inlineBlock">{{c.dur}}분</span>
            </div>
          </div>
        </div>
        <!-- <div class="row hashtag">#스트레칭  #명상  #릴렉스  #심리안정</div> -->
        <!-- <div class="row">
          <div class="col-4 class-info-grid">
            <div class="title">클래스 구성</div>
            <div class="content">{{ sum }}분</div>
          </div>
          <div class="col-4 class-info-grid">
            <div class="title">클래스 횟수</div>
            <div class="content">{{ stgs }}회</div>
          </div>
          <div class="col-4 class-info-grid">
            <div class="title">Point</div>
            <div class="content">{{ info.point}}</div>
          </div>
        </div> -->
        <!-- <div class="row progress-container">
          <div class="col left">{{ dday }}</div>
          <div class="col right">83%</div>
        </div>
        <div class="row progress">
          <div class="progress-bar" role="progressbar" style="width: 83%" aria-valuenow="83" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div> -->

        <div class="row submit-grid">
          <div class="col-3 class-info-grid">
            <div class="title">교구</div>
            <div class="content">
              <img src="{{kit}}">
            </div>
          </div>
          <div class="col-3 class-info-grid">
            <div class="title">최소인원</div>
            <div class="content">{{ info.least }}명</div>
          </div>
          <div class="col-3 class-info-grid">
            <div class="title">최대인원</div>
            <div class="content">{{ info.limit }}명</div>
          </div>
          <div class="col-3 class-info-grid">
            <div class="title">Point</div>
            <div class="content">{{info.point}}</div>
          </div>
        </div>
        <div class="row class-button">
          <button mat-button style="background-color: #c4c4c4;">찜하기</button>
          <button mat-button style="background-color: #3F3D56;" (click)="apply()">수강하기</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Submenus -->
  <div class="submenu container">
    <div class="row">
      <div class="col title pointer"(click)='moveScroll($event)'>상세정보</div>
      <div class="col title pointer"(click)='moveScroll($event)'>커리큘럼</div>
      <div class="col title pointer"(click)='moveScroll($event)'>리뷰쓰기</div>
      <div class="col title pointer"(click)='moveScroll($event)'>취소/환불</div>
    </div>

  </div>
  <!-- class how -->
  <section class="class-inst container">
    <div class="row">
      <img src="../../../assets/images/img/class_how_to.jpg">
    </div>
  </section>
  <!-- Lecture introduction -->
  <section class="foryou container">
    <!--
            <div class="row">
                <img src="../../../assets/images/img/class_introduction.jpg">
            </div>
            -->
    <div class="row section-title">
      Class<br>For You
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-2"></div>
      <div class="col-8 sect-subtitle">"이런 분들을 위해 준비했습니다"</div>
      <div class="col-2"></div>
    </div>
    <div class="row readyFor">
      <div *ngFor='let r of info.targets'>{{r.desc}}</div>
    </div>
  </section>

  <!-- Testimonial -->
  <section class="testimonial container">
    <!--
        <div class="row">
            <img src="../../../assets/images/img/testimonial.jpg">
        </div>
        -->
    <div class="row section-title">
      Testimonial
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-4"></div>
      <div class="col-4 sect-subtitle">수강생 후기</div>
      <div class="col-4"></div>
    </div>
    <div class="row testimonial-li">
      <div class="col-4 entry">
        <div class="row testi-star-wrap">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
        </div>
        <div class="row testi-text">
          업무를 잊고 나를 돌볼 수 있어서 좋습니다.
          몸도 챙기고, 마음도 챙길 수 있는 시간이었습니다.
          개인적으로 다음에 기회가 되면 다시 참여 희망합니다.
          감사합니다.
        </div>
      </div>
      <div class="col-4 entry">
        <div class="row testi-star-wrap">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-half.png" class="testi-star">
        </div>
        <div class="row testi-text">
          지친 마음과 몸을 힐링할 수 있는
          아주 좋은 프로그램이었습니다.
          그 동안 나 자신에 대해 소홀했던 점을 반성하며
          앞으로 나 자신에게 집중하고 보살펴 줄 수 있도록
          하겠습니다.
        </div>
      </div>
      <div class="col-4 entry">
        <div class="row testi-star-wrap">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
          <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
        </div>
        <div class="row testi-text">
          바쁜 일상 속 뭉쳤던 몸과 마음이 힐링 되었습니다.
          내 몸을 바라보며 소통하고, 느끼는 것이 참 행복하다는 것을
          알게 되었습니다. 명상을 하고, 몸을 이완시키는 것이 특히 매우매우 좋아요.
        </div>
      </div>
    </div>
  </section>
  <section class="intro container">
    <!--
            <div class="row">
                <img src="../../../assets/images/img/class_introduction.jpg">
            </div>
            -->
    <div class="row section-title">
      Class<br>Introduction
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-2"></div>
      <div class="col-8 sect-subtitle" style="color:#dd5e5e">클래스에는 이런내용이 담겨있어요</div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="introductionImg"></div>
      <div class="classpoint" *ngFor='let p of info.sums'>
        <span class="uppercase title">POINT {{p.point}}</span>
        <span class="content">{{p.desc}}</span>
      </div>
      <!-- <div class="col-4">집중하지 못하고 효율이 안나오는 사람</div>
      <div class="col-4">체력부족을 절실히 느끼는 사람</div>
      <div class="col-6" style="border-left: 1px solid #dd5e5e; margin-top: 30px;">계획했던 일이 잘 풀리지 않는 사람</div>
      <div class="col-6" style="margin-top: 30px;">매일 피곤하고 지병이 생길 것 같은 사람</div> -->
    </div>
  </section>
  <section class="presents container">
    <!--
            <div class="row">
                <img src="../../../assets/images/img/class_introduction.jpg">
            </div>
            -->
    <div class="row section-title">
      Class<br>Presents
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-2"></div>
      <div class="col-8 sect-subtitle">클래스 특징</div>
      <div class="col-2"></div>
    </div>
    <div class="goodness">
      <div class="inlineBlock expect">
        <div class="title">기대 효과</div>
        <div class="contents" *ngFor='let e of info.exps'>{{e.desc}}</div>
      </div>
      <div class="inlineBlock particular">
        <div class="title">진행 특징</div>
        <div class="contents" *ngFor='let e of info.feats'>{{e.desc}}</div>
      </div>
    </div>
  </section>
  <!-- Class instruction -->


  <!-- Curriculum -->
  <section class="curriculum container">

    <div class="row section-title">
      curriculum
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-4"></div>
      <div class="col-4 sect-subtitle">커리큘럼</div>
      <div class="col-4"></div>
    </div>
    <div class="row" style="padding-top:80px;">
      <table class="table table-entry">
        <colgroup>
          <col width="80px">
          <col width="180px">
          <col width="240px">
          <col width="90px">
          <col width="120px">
          <col width="390px">
        </colgroup>
        <thead>
          <tr>
            <th scope="col">회기</th>
            <th scope="col">일정</th>
            <th scope="col">주제명</th>
            <th scope="col">교시</th>
            <th scope="col">시간</th>
            <th scope="col">내용</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let c of info.currs'>
            <td>{{c.stage}} 차</td>
            <td>{{c.date | date: 'M월 d일 E'}}<br>{{c.date | date: 'HH:mm'}}({{c.dur}}분)</td>
            <td>{{c.title}}</td>
            <td class="dividedCell" colspan="3">
              <table class='innerTable'>
                <colgroup>
                  <col width='90px'>
                  <col width='120px'>
                  <col width='390px'>
                </colgroup>
                <tr *ngFor='let cur of c.timetable'>
                  <td>{{cur.stage}}</td>
                  <td>{{cur.dur}}분</td>
                  <td class="whitewrap">{{cur.desc}}</td>
                </tr>
              </table>
              <!-- <div *ngFor='let cur of c.curr'>
                <span>{{cur.pieceTime}}</span>
                <span>{{cur.kinds}}</span>
                <span class="nowrap">{{cur.contents}}</span>
              </div> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <!-- kit -->
  <section class="classKit container" *ngIf='info.kit || info.mat'>
    <div class="row section-title">
      Class<br>Kit & Material
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;" *ngIf="info.kit">
      <div class="col-4"></div>
      <div class="col-4 sect-subtitle uppercase">kit</div>
      <div class="col-4"></div>
    </div>
    <div class="kitImg" *ngIf="info.kit">
      <img src="{{filePath}}{{info.kitImg}}" alt="키트사진">
    </div>
    <div class="row" style="padding-top:50px; height:120px;" *ngIf="info.mat">
      <div class="col-4"></div>
      <div class="col-4 sect-subtitle uppercase">준비물</div>
      <div class="col-4"></div>
    </div>
    <div class="materialImg" *ngIf="info.mat">
      <img src="{{filePath}}{{info.matImg}}" alt="준비물사진">
    </div>
  </section>

  <!-- Instructor introduction -->
  <section class="instructor container">
    <!--
        <div class="row">
            <img src="../../../assets/images/img/instructor_introduction.jpg">
        </div>
        -->
    <div class="row section-title">
      Expert<br>introduction
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-3"></div>
      <div class="col-6 sect-topborder">{{ instInfo.name }}</div>
      <div class="col-3"></div>
    </div>
    <div class="row instructor-box">
      <div class="col-4 instructor-picture">
        <img width="300px" height="300px" src="{{filePath}}{{instInfo.inst.file}}">
      </div>
      <div class="col-8 instructor-desc">
        <p class="whitewrap">
          {{instInfo.inst.career}}
        </p>
      </div>
    </div>
    <div class="row instructor-picli">
      <img src="{{filePath}}{{info.mainImg}}">
    </div>
  </section>

  <section class="review container">
    <!--
        <div class="row">
            <img src="../../../assets/images/img/instructor_introduction.jpg">
        </div>
        -->
    <div class="row section-title">
      Class<br>Review
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-3"></div>
      <div class="col-6 sect-topborder">리뷰 작성하기</div>
      <div class="col-3"></div>
    </div>
    <div class="reviewedBox">
      <p *ngFor='let r of reviews'>
        <span class="inlineBlock img"><img src="{{r.img}}"></span>
        <span class="inlineBlock name">{{r.name}}</span>
        <span class="inlineBlock mention whitewrap">{{r.desc}}</span>
      </p>
    </div>
    <div class="writeBox">
      <div class="giveStar">
        <p>별점주기</p>
        <button mat-button [matMenuTriggerFor]="menu">별점 주기</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor='let s of detail.starimg' (click)='giveStar(s)'><img
              src="{{s.img}}">{{s.text}}</button>
        </mat-menu>
      </div>
      <div class="giveComment">
        <p>리뷰쓰기</p>
        <div class="mentionBox" (focus)="bcc($event)">
          <p *ngIf="login">{{user.name}} 님</p>
          <textarea name='reviewText' placeholder="{{reviewText}}" [(ngModel)]="review_desc"></textarea>
        </div>
      </div>
      <button mat-button class="submit" (click)="review_add()">등록</button>
    </div>
  </section>

  <!-- Refund -->
  <section class="refund container">
    <div class="row">
      <img src="../../../assets/images/img/cancel-exchange.png">
    </div>
  </section>
</div>
<!-- 추천 -->
<section class="recommamd">
  <div class="title">마음도씨 추천 라이브
    <div class="littleSqure"></div>
  </div>
  <div class="recommandBox">
    <div class="innerWrap">
      <ul>
        <li *ngFor='let r of detail.recommand'>
          <div class="process">{{r.process}}</div>
          <div class="classcategory hidden" [style.background]='r.color'>{{r.category}}</div>
          <div class="itemHeader">{{r.title}}</div>
          <div class="itemImg"><img src="{{r.img}}" alt="/"></div>
          <!-- <div class='degreeBox' *ngIf='r.degree'> -->
            <!-- <span class="thermo"><span [ngStyle]="{'width.px': r.degree*3}" class="thermoBar textHidden">{{r.degree}}</span></span> -->
            <!-- <span class="remainDate">일 남음</span> -->
            <!-- <span class="degrees">{{r.degree}}ºC 마음도씨</span> -->
          <!-- </div> -->
          <div class='hashTag' *ngIf='r.hashTag'>
            <span *ngFor='let h of r.hashTag'>&nbsp;{{h.tag}}&nbsp;</span>
          </div>
          <!-- <div class="smallText" *ngIf='r.degree'> -->
            <!-- <span>{{r.text}}</span> -->
          <!-- </div> -->
          <div class="bigText" *ngIf='r.hashTag'>
            <span>{{r.text}}</span>
          </div>
          <!-- <span class="goDetail inlineBlock pointer" *ngIf='r.degree'></span> -->
        </li>
      </ul>
    </div>
  </div>
</section>
