<div class="wrap">
    <!-- Category -->
    <section class="category container">
        <div class="row">
            <div class="col-3 content">
                <img src="../../../assets/images/icon2/life.png" style="padding-right: 20px">
                인생여정
            </div>
            <div class="col-3 content">
                <img src="../../../assets/images/icon2/social.png" style="padding-right: 20px">
                사회생활
            </div>
            <div class="col-3 content">
                <img src="../../../assets/images/icon2/healing.png" style="padding-right: 20px">
                힐링
            </div>
            <div class="col-3 content">
                <img src="../../../assets/images/icon2/mental.png" style="padding-right: 20px">
                심리
            </div>
        </div>
        <div class="row">
            <img src="../../../assets/images/icon2/sm-arrow.png" style="padding-left:150px">
        </div>
        <div class="row box">
            <div class="col item selected">연애/결혼</div>
            <div class="col item">자녀양육</div>
            <div class="col item">부부관계</div>
            <div class="col item">인생2막</div>
        </div>
    </section>

    <!-- Class abstract -->
    <section class="abstract container">
        <div class="row">
            <div class="col-6">
                <div class="row mainpic">
                    <img src="../../../assets/images/img/yjkim_lec_main_01.jpg">
                </div>
                <div class="row thumbnail">
                    <div class="col-3 item">
                        <img src="../../../assets/images/img/yjkim_lec_thumb_01.jpg">
                    </div>
                    <div class="col-3 item">
                        <img src="../../../assets/images/img/yjkim_lec_thumb_02.jpg">
                    </div>
                    <div class="col-3 item">
                        <img src="../../../assets/images/img/yjkim_lec_thumb_03.jpg">
                    </div>
                    <div class="col-3 item">
                        <img src="../../../assets/images/img/yjkim_lec_thumb_04.jpg">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="title title-header">힐링</div>
                    <div class="col title title-main">{{ info.title }}</div>
                </div>
                <div class="row">
                    <div class="subtitle-rect"></div>
                    <div class="subtitle">
                        <div class="desc">
                            {{ info.subtitle }}
                        </div>
                    </div>
                </div>
                <div class="row hashtag"> </div>
                <!-- <div class="row hashtag">#스트레칭  #명상  #릴렉스  #심리안정</div> -->
                <div class="row">
                    <div class="col-4 class-info-grid">
                        <div class="title">클래스 구성</div>
                        <div class="content">{{ sum }}분</div>
                    </div>
                    <div class="col-4 class-info-grid">
                        <div class="title">클래스 횟수</div>
                        <div class="content">{{stgs}}회</div>
                    </div>
                    <div class="col-4 class-info-grid">
                        <div class="title">Point</div>
                        <div class="content">{{ info.point}}</div>
                    </div>
                </div>
                <div class="row progress-container">
                    <div class="col left">{{ dday }}</div>
                    <div class="col right">83%</div>
                </div>
                <div class="row progress">
                    <div class="progress-bar" 
                         role="progressbar" 
                         style="width: 83%" 
                         aria-valuenow="83" 
                         aria-valuemin="0" 
                         aria-valuemax="100"></div>
                </div>
                <div class="row submit-grid">
                    <div class="col-3 class-info-grid">
                        <div class="title">수강인원</div>
                        <div class="content">~{{ info.limit }}명</div>
                    </div>
                    <div class="col-3 class-info-grid">
                        <div class="title">선물하기</div>
                        <div class="content">
                            <img src="../../../assets/images/icon2/present.png">
                        </div>
                    </div>
                    <div class="col-3 class-info-grid">
                        <div class="title">찜하기</div>
                        <div class="content">
                            <img src="../../../assets/images/icon2/heart.png">
                        </div>
                    </div>
                    <div class="col-3 class-apply">
                        수강신청
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Submenus -->
    <div class="submenu container">
        <div class="row">
            <div class="col title">커리큘럼</div>
            <div class="col title">상세정보</div>
            <div class="col title">Q&A</div>
            <div class="col title">만족도 조사</div>
            <div class="col title">취소/환불</div>
        </div>

    </div>

    <!-- Class instruction -->
    <section class="class-inst container">
        <div class="row">
            <img src="../../../assets/images/img/class_how_to.jpg">
        </div>
    </section>

    <!-- Curriculum -->
    <section class="curriculum container">
        <!--
        <div class="row">
            <img src="../../../assets/images/img/curriculum.jpg">
        </div>
        -->
        <div class="row section-title">
            curriculum
        </div>
        <div class="row dot-sm"></div>
        <div class="row dot-xsm"></div>
        <div class="row" style="padding-top:50px; height:120px;">
            <div class="col-4"></div>
            <div class="col-4 sect-subtitle">커리큘럼</div>
            <div class="col-4"></div>
        </div>
        <div class="row" style="padding-top:80px;">
            <table class="table table-entry">
                <thead>
                    <tr>
                        <th scope="col">회기</th>
                        <th scope="col">날짜</th>
                        <th scope="col">주제명</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of info.currs">
                        <td>{{ e.stage }}회차</td>
                        <td>{{ e.date | date: 'M월 d일 H시 m분'}}&nbsp;({{ e.dur }}분)</td>
                        <td class="pink-strong">{{ e.title }}</td>
                    </tr>
                    <tr>
                        <td>2회차</td>
                        <td>2월 25일 목요일</td>
                        <td class="pink-strong">슬기롭게 놀아주기</td>
                    </tr>
                    <tr>
                        <td>3회차</td>
                        <td>3월 4일 목요일</td>
                        <td class="pink-strong">슬기롭게 극복하기</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Lecture introduction -->
    <section class="intro container">
        <!--
        <div class="row">
            <img src="../../../assets/images/img/class_introduction.jpg">
        </div>
        -->
        <div class="row section-title">
            Class<br>introduction
        </div>
        <div class="row dot-sm"></div>
        <div class="row dot-xsm"></div>
        <div class="row" style="padding-top:50px; height:120px;">
            <div class="col-2"></div>
            <div class="col-8 sect-subtitle">"이런 분들을 위해 준비했습니다"</div>
            <div class="col-2"></div>
        </div>
        <div class="row img-center">
            <img src="../../../assets/images/img/yoga.png">
        </div>
        <div class="row" style="padding-top: 80px;">
            <div class="col-4 class-point" *ngFor="let e of info.targets">
                <div class="title">POINT {{ e.point }}</div>
                <div class="content">{{ e.desc }}</div>
            </div>
        </div>
    </section>

    <!-- Instructor introduction -->
    <section class="instructor container">
        <!--
        <div class="row">
            <img src="../../../assets/images/img/instructor_introduction.jpg">
        </div>
        -->
        <div class="row section-title">
            Expert<br>introduction
        </div>
        <div class="row dot-sm"></div>
        <div class="row dot-xsm"></div>
        <div class="row" style="padding-top:50px; height:120px;">
            <div class="col-3"></div>
            <div class="col-6 sect-topborder">김연정</div>
            <div class="col-3"></div>
        </div>
        <div class="row instructor-box">
            <div class="col-4 instructor-picture">
                <img src="../../../assets/images/img/yjkim_portrait.jpg">
            </div>
            <div class="col-8 instructor-desc">
                <p>
                    이움(이완과 움직임) 대표<br>
                    단국대학교 체육학 박사<br>
                    숨;터 Director<br>
                    명상 수행 안내자<br>
                    - GX program / Yoga / Pilates Master Trainer<br>
                    - NLP Trainer (Certified by Q.A.S)<br>
                    - MBSR (Mindfulness Based Stress Reduction program)<br>
                    - MBCT (Mindfulness-based cognitive therapy)<br>
                </p>
            </div>
        </div>
        <div class="row instructor-picli">
            <ul>
                <li class="instructor-picli">
                    <img src="../../../assets/images/img/yjkim_1.jpg">
                </li>
                <li>
                    <img src="../../../assets/images/img/yjkim_2.jpg">
                </li>
                <li>
                    <img src="../../../assets/images/img/yjkim_3.jpg">
                </li>
            </ul>
        </div>
    </section>

    <!-- Testimonial -->
    <section class="testimonial container">
        <!--
        <div class="row">
            <img src="../../../assets/images/img/testimonial.jpg">
        </div>
        -->
        <div class="row section-title">
            Testimonial
        </div>
        <div class="row dot-sm"></div>
        <div class="row dot-xsm"></div>
        <div class="row" style="padding-top:50px; height:120px;">
            <div class="col-4"></div>
            <div class="col-4 sect-subtitle">수강생 후기</div>
            <div class="col-4"></div>
        </div>
        <div class="row testimonial-li">
            <div class="col-4 entry">
                <div class="row testi-star-wrap">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                </div>
                <div class="row testi-text">
                    업무를 잊고 나를 돌볼 수 있어서 좋습니다. 
                    몸도 챙기고, 마음도 챙길 수 있는 시간이었습니다. 
                    개인적으로 다음에 기회가 되면 다시 참여 희망합니다.
                    감사합니다.
                </div>
            </div>
            <div class="col-4 entry">
                <div class="row testi-star-wrap">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-half.png" class="testi-star">
                </div>
                <div class="row testi-text">
                    지친 마음과 몸을 힐링할 수 있는
                    아주 좋은 프로그램이었습니다.
                    그 동안 나 자신에 대해 소홀했던 점을 반성하며
                    앞으로 나 자신에게 집중하고 보살펴 줄 수 있도록
                    하겠습니다.
                </div>
            </div>
            <div class="col-4 entry">
                <div class="row testi-star-wrap">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                        <img src="../../../assets/images/icon2/star-full.png" class="testi-star">
                </div>
                <div class="row testi-text">
                    바쁜 일상 속 뭉쳤던 몸과 마음이 힐링 되었습니다.
                    내 몸을 바라보며 소통하고, 느끼는 것이 참 행복하다는 것을
                    알게 되었습니다. 명상을 하고, 몸을 이완시키는 것이 특히 매우매우 좋아요.
                </div>
            </div>
        </div>
    </section>

    <!-- Refund -->
    <section class="refund container">
        <div class="row">
            <img src="../../../assets/images/img/refund.jpg">
        </div>
    </section>

    <!-- Related items -->
    <section class="rel-items"></section>
</div>