/* Common */
.container {
    width: 1200px;
    max-width: 1200px;
}
img {
    max-width: 100%;
    max-height: 100%;
    /* width:100%; */
}
.whitewrap {
    white-space: pre-wrap;
}
/* Category */
.category {
    padding-top: 50px;
}

.category .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #DD5E5E;
}

.category .box {
    border: 1px solid #F2A6A3;
    background-color: #FFEEEE;
    height: 80px;

    align-items: center;
}

.box .item {
    font-family: Roboto;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #3F3D56;
}

.box .selected {
    font-weight: bold;
}

/* Abstract */
.abstract {
    width: 100%;
    padding-top: 50px;
}

.mainpic {
    padding-right: 10px;
    margin:0 auto;
}
.mainpic img {
    border: 0;
}
.thumbnail {
    padding-right: 10px;
    padding-top: 30px ;
}

.thumbnail .item {
    height:76px;
    background-color: #eee;

}
.thumbnail .item img {
    display: block;
    margin:0 auto;
    height:100%;
}

.title {
    font-family: 'nanum';
    font-style: normal;
    font-weight: bold;
}
.title-header .progress-rect {
    display: inline-block;
    box-sizing: border-box;
    width:60px;
    height:60px;
    border:1px solid #57bead;
    border-radius: 5px;
    font-size: 22px;
    line-height: 60px;
    color:#57bead;
}
.title-header {
    /* background-image: url("../../../assets/images/img/title-header.png"); */
    display: inline-block;
    background-size: 100px;
    height:85px;
    box-sizing: border-box;
    padding-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
}

.title-main {
    font-size: 30px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    color: #3F3D56;
}

.subtitle {
    position: relative;
    border-radius: 50px; 
}

.subtitle .desc {
    width: 570px;
    padding: 20px 35px 20px 55px;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #c4c4c4;
    color: #3F3D56;
}

.subtitle-rect {
    background: #66CCCC;
    width: 100px;
    height: 50px;

    position: absolute;
}
.dah {
    position: relative;
    padding-top: 20px;
}
.remain {
    position: absolute;
    left:0;
    display: inline-block;
    font-size: 30px;
    font-weight: 800;
    height:50px;
    line-height: 50px;
}
.hashtag {
    padding-top: 20px;   
    padding-bottom: 10px;   
    padding-left: 10px;
    width:100%;
    font-family: 'nanum';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #DD5E5E;
}
.temper {
    height:60px; 
    position: relative;
}
.thermo {
    position: relative;
    display: inline-block;
    width:365px;
    height:60px;
    background: url('../../../assets/images/icon/0c.png') no-repeat center center / contain;
}
.thermo .thermoBar {
    position: absolute;
    top:19px;
    left:43px;
    display: block;
    width:300px;
    max-width:300px;
    height:15px;
    background-color:#DD5E5E;
    border-radius: 7.5px;
}
.temperature {
    position: absolute;
    right:0;
    top:0;
    height:60px;
    font-size:24px ;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#DD5E5E;
}
.temperature .tempNum {
    font-size: 30px;
}

.classInfoBox {
    padding-top: 20px;
}
.classInfoBox .classTitle { 
    display: inline-block;
    width:140px;
    height:30px;
    border-radius: 5px;
    background-color: #F2A6A3;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
 }
 .classInfoBox .round {
     color:#DD5E5E;
     font-size: 22px;
     padding-left: 20px;
     line-height: 30px;
     font-weight: bold;
 }
 .classTable {
     width:100%;
 }
 .classTable .tableRow {
    display: grid;
    grid-template-columns: 70px 240px 235px;
    column-gap: 20px;
 }
 .classTable .tableRow span {
    text-align: center;
    height:50px;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 22px;
    line-height: 40px;
    border-bottom: 1px solid #c4c4c4;
 }
 .classTable .tableHeader span {
     border-color:#F2A6A3;
     font-weight: bold;
 }
.class-info-grid {
    border: 1px solid #C4C4C4;
    border-top: 1px solid #F2A6A3;
    text-align: center;
}

.class-info-grid .title {
    padding-top: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

    text-align: center;

    color: #606060;
}

.class-info-grid .content {
    padding-top: 7px;
    padding-bottom: 11px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    text-align: center;

    color: #DD5E5E;
}

.progress-container {
    padding-top: 15px;
}

.progress-container .left {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;

    color: #F2A6A3;
}

.progress-container .right {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: right;

    color: #DD5E5E;
}
.class-button {
    padding-top: 20px;
}
.class-button button {
    width:285px;
    height:60px;
    font-size: 26px;
    color:#fff;
    font-weight: bold;
    border-radius: 0;
}

.progress-bar {
    background-color: #DD5E5E;
}

.submit-grid {
    padding-top: 20px;
}

.class-apply {
    background: #F2A6A3;
    border: 1px solid #F2A6A3;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;

    color: #FFFFFF;
}

/* Submenu */
.submenu {
    padding-top: 50px;
}

.submenu .title {
    font-family: 'nanum';
    font-style: normal;
    font-weight: bold;
    font-size: 22x;
    line-height: 60px;
    text-align: center;
    height:60px;
    border-bottom: 1px solid #C4C4C4;

    color: #555555;
}

/* Class instruction */
.class-inst {
    padding-top: 50px;
}

/* Curriculum */
.section-title {
    background-image: url("../../../assets/images/img/sect_title_background.png");
    background-size: 250px 250px;
    background-repeat: no-repeat;
    background-position: center;

    height: 250px;

    font-family: Roboto;
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    color: #ffffff;
}

.dot-sm {
    height: 20px;
    padding-top: 60px;
    background-image: url("../../../assets/images/img/light_pink_dot.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.dot-xsm {
    height: 10px;
    padding-top: 10px;
    background-image: url("../../../assets/images/img/light_pink_dot.png");
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.sect-subtitle {
    border-top: 1px solid #DD5E5E;
    border-bottom: 1px solid #DD5E5E;

    font-family: 'nanum';
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;

    color: #000000;
}
.readyFor {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    row-gap: 50px;
}
.readyFor div {
    height: 168px;
    box-sizing: border-box;
    padding:60px 26px 0 26px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    border-right:1px solid #DD5E5E ;
}

.curriculum {
    padding-top: 100px;
}

.table-entry {
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.table-entry .pink-strong {
    color: #DD5E5E;

    text-align: left;

    padding-left:20px;
    padding-right:20px;
}

/* Class foryou */
.foryou {
    padding-top: 100px;
}

.img-center {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
}

.class-point {
    border-right: 1px solid #DD5E5E;
}

.class-point .title {
    padding-top: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    text-align: left;

    color:#DD5E5E;
}

.class-point .content {
    padding-top: 20pt;
    padding-left: 10pt;
    padding-right: 10pt;
    padding-bottom: 10pt;
    font-family: Roboto;
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    text-align: left;

    color: #606060;
}

/* Instructor introduction */
.instructor {
    padding-top: 100px;
}

.sect-topborder {
    border-top: 1px solid #DD5E5E;

    font-family: Roboto;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;

    color: #000000;
}

.instructor-box {
    background-color: #FFEEEE;
    border-top: 1px solid #DD5E5E;
    border-bottom: 1px solid #DD5E5E;
}

.instructor-picture {
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
}

.instructor-desc {
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 50px;
    padding-bottom: 50px;

    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;

    color: #DD5E5E;
}

.instructor-picli {
    display: flex;
    justify-content: center;
    text-align: center;
}

.instructor-picli ul li {
    padding-top: 30px;
}

/* Testimonial */

.testimonial {
    padding-top: 100px;
}

.testimonial-li {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}

.starWrap {
    text-align: center;
    border-bottom: 1px solid #F2A6A3;
}

.testi-text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    box-sizing: border-box;
    padding:30px 1rem;
    text-align: left;
    color:#DD5E5E;
}

.testi-star ul li {
    float: left;
}

.refund {
    padding-top: 100px;
}

.rel-items{
    padding-top: 100px;
}
/* Class introduction */
.intro {
    padding-top: 100px;
}
.introductionImg {
    display: block;
    box-sizing: initial;
    padding-top: 55px;
    width:800px;
    margin:0 auto;
}
/* .introductionImg img {
    width:100%;
    height:100%;
} */
.classpoint {
    display: block;
    width:1000px;
    margin:0 auto;
    border-bottom: 1px solid #c4c4c4;
}

.classpoint .title {
    display: block;
    box-sizing: initial;
    padding-top: 18px;
    height: 30px;
    font-family: 'nanum';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:#DD5E5E;
}

.classpoint .content {
    display: block;
    height: 80px;
    line-height: 80px;
    font-family: 'nanum';
    font-weight: bold;
    font-size: 30px;
    text-align: center;

    color: #3F3D56;
}
/* present */
.presents {
    padding-top: 100px;
}
.goodness {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding-top: 80px;
}
.goodness > div {
    border-top: 1px solid #c4c4c4;
    position: relative;
}
.goodness .title {
    position: absolute;
    top: -30px;
    left: calc(50% - 175px);
    width:350px;
    height:60px;
    border-radius: 30px;
    background-color: #3f3d56;
    color:#fff;
    text-align: center;
    font-size: 26px;
    line-height: 60px;
}
.goodness .contents {
    padding:50px 20px; 
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
}

/* curriculum */
.curriculum {
    padding-top: 100px;
}

.table-entry
 {
    font-family: 'nanum';
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px 0;
}
.innerTable{
    font-family: 'nanum';
    font-weight: normal;
    font-size: 22px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 20px 0;
}
.table-entry th {
    border-top: 0;
    border-bottom: 1px solid #DD5E5E;
}
.table-entry tbody > tr > td {
    padding:0;
    vertical-align: middle;
    border:0;
    border-bottom: 1px solid #c4c4c4;
    line-height: 30px;
}
.table-entry tbody > tr:nth-child(odd) > td:nth-child(1),
.table-entry tbody > tr:nth-child(odd) > td:nth-child(3)
{
    background-color: #FFEEEE;
}
.table-entry tbody > tr:nth-child(even) > td:nth-child(1),
.table-entry tbody > tr:nth-child(even) > td:nth-child(3)
{
    background-color: #F7F8FC;
}
.table-entry .pink-strong {
    color: #DD5E5E;

    text-align: left;

    padding-left:20px;
    padding-right:20px;
}
.innerTable  td {
    border:0;
}

/* kit */
.classKit {
    padding-top: 80px;
}
.kitImg , .materialImg {
    padding-top: 20px;
    width: 800px;
    height:540px;
    margin:0 auto;
}
.kitImg img, .materialImg img {
    width:100%;
    height:100%;
}

/* 리뷰  */
.review {
    padding-top: 80px;
}
.reviewedBox {
    padding-top: 60px;
    height:350px;
    overflow-y: scroll;
}
.reviewedBox::-webkit-scrollbar {
    display: none;
}
.reviewedBox p {
    margin: 0!important;
    padding-bottom: 10px;
}
.reviewedBox p span{
    vertical-align: top;
}
.reviewedBox p .img { width:240px; height:60px;  line-height: 60px;}
.reviewedBox p .name { width:120px; height:60px; padding-left:30px ; line-height: 60px; font-size: 26px;}
.reviewedBox p .mention { width:750px; padding-left:30px ; padding-top: 20px; font-size: 22px; color:#DD5E5E;}

.writeBox {
    border-top: 1px solid #c4c4c4;
    display: grid;
    grid-template-columns: 300px 860px;
    column-gap: 30px;
    position: relative;
}
.writeBox > div > p {
    margin: 0!important;
    color:#DD5E5E;
    height:50px;
    line-height: 50px;
    font-size: 20px;
}
.giveStar button {
    padding:0;
    width:240px; height:60px;
    font-size: 22px;
    border:1px solid #c4c4c4;
    position: relative;
}
.giveStar button::after {
    content: '▼';
    color: #c4c4c4;
    font-size: 25px;
    position:absolute;
    right:10px;
}
.giveStar button.arrowremove::after {
    content:'';
}
.mat-menu-item {
    padding:0;
    width:240px; height:60px;
    text-align: center;
    font-size: 22px;
}
.mentionBox {
    height:150px;
    box-sizing: border-box;
    padding:15px 11px;
    border: 1px solid #c4c4c4;
}
.mentionBox p {
    font-size: 22px;
    font-weight: bold;
    margin:0!important;

}
.mentionBox textarea{
    border:0;
    width:100%;
    height:90px;
    box-sizing: border-box;
    padding:10px 20px;
    font-size: 16px;
    line-height: 20px;
    resize:none;
}
.mentionBox textarea:focus {
    outline:none;
}
.mentionBox textarea::placeholder {
    color:#c4c4c4;
}
.writeBox .submit {
    position: absolute;
    width:110px;
    height:40px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0;
    bottom:-50px;
    right:-70px;
    padding:0;
    background-color: #3F3D56;
    color:#fff;
}
/* 추천 */
.recommamd {
    padding-top: 100px;
}
.recommamd .title {
    width:600px;
    height:50px;
    border-bottom: 1px solid #3F3D56;
    position: relative;
    margin:0 auto;
    text-align: center;
    font-size: 30px;
}
.littleSqure {
    width:30px;
    height:10px;
    background-color:#3f3d56;
    position: absolute;
    left:calc(50% - 15px);
    bottom:-5px;
}
.recommandBox {
    padding: 35px 0 ;
    width:100%;
    background-color:#F7F8FC;
}
.recommandBox .innerWrap {
    width:1202px;
    padding: 50px 1px 10px 1px;
    overflow-x: hidden;
}
.recommandBox ul {
    height:100%;
    width:200%;
    display: grid;
    grid-template-columns: repeat(6,380px);
    column-gap: 30px;
    margin:0;
}
/* !!!!!!!!상자!!!!!!!!! */
.recommamd ul li {
    display: inline-block;
    width:380px;
    height:435px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;
    vertical-align: top;
    box-sizing: border-box;
    padding: 30px 20px 0;

}
.recommamd ul li:last-child {
    margin:0;
}
.recommamd .process {
    width:150px;
    height:35px;
    color:#fff;
    background-color: #3f3d56;
    border-radius: 30px;
    position: absolute;
    left:30px;
    top:-20px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}
.recommamd .classcategory {
    width:150px;
    height:35px;
    color:#fff;
    border-radius: 30px;
    position: absolute;
    right:30px;
    top:-20px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}
.recommamd .itemHeader {
    width:340px;
    height:66px;
    margin: 0 auto;
    font-size: 26px;
    font-weight:bold;
    line-height: 30px;
}
.recommamd .itemImg {
    width:340px;
    height:200px;
}
.recommamd .thermo {
    width:100%;
    position:absolute;
    top:260px;
    left:0;
}
.recommamd .thermo .thermoBar {
    position: absolute;
    top:19px;
    left:52px;
}
.recommamd .remainDate {
    position: absolute;
    left:20px;
    color:#DD5E5E;
    top: 320px;
    font-size:22px;
    font-weight: bold;
}
.recommamd .degrees {
    position: absolute;
    right:20px;
    color:#DD5E5E;
    top: 320px;
    font-size:22px;
    font-weight: bold;
}
.recommamd .hashTag {
    width:100%;
    text-align: center;
    font-size: 20px;
    color:#DD5E5E;
    font-weight: bold;
}
.recommamd .smallText {
    padding-top: 60px;
    height:60px;
    width:270px;
    font-size: 16px;
}
.recommamd .goDetail {
    width:80px;
    height:80px;
    background: url(../../../assets/images/button/arrowBtn.png) no-repeat center center / cover;
    position: absolute;
    right:0;
    bottom:0;
}
.recommamd .bigText {
    padding-top: 10px;
    height:80px;
    width:100%;
    font-size: 18px;

}



