p { 
    font-size: 16px;
    padding-bottom: 15px;
}
.label {
    display: inline-block;
    width:100px;
    font-weight: bold;
    margin-right: 10px;
    vertical-align: top;
    text-align: center;
}
.contents {
    text-align: left;
    display: inline-block;
    width:200px;
}