<div id="loginBox">
  <div class="boxwrap">

    <div id="login">
      <p class="uppercase title">
        login
      </p>
      <form action="#none">
        <div class="inputData">
          <mat-form-field>
            <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="info.uname" placeholder="ID">
          </mat-form-field>
          <mat-form-field>
            <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="info.pwd" type='password'
              placeholder="PW">
          </mat-form-field>
        </div>
        <button mat-button class="uppercase loginButton" (click)="access()">log in</button>
        <div class="AccountBox">
          <span (click)='findId()' class="findAccount pointer">아이디 찾기</span>
          &nbsp;/&nbsp;
          <span (click)='findPWD()' class="findAccount pointer">비밀번호 찾기</span>
        </div>
      </form>
    </div>
    <div id="findID">
      <p class="uppercase title">
        아이디 찾기
      </p>
      <form action="#none">
        <div class="inputData">
          <mat-form-field>
            <input matInput placeholder="이름">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="가입 이메일">
          </mat-form-field>
        </div>
        <button mat-button class="uppercase findButton" (click)="idSend()">아이디 찾기</button>
      </form>
    </div>
    <div id="findPWD">
      <p class="uppercase title">
        비밀번호 찾기
      </p>
      <div class="firstInput inputData" [class.hidden]='pwdOk === true'>
        <mat-form-field>
          <input matInput placeholder="가입 아이디">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="가입 이메일">
        </mat-form-field>
        <button mat-button class="uppercase findButton" (click)="newPwd()">인증 확인</button>
      </div>
      <div class="secondInput inputData" [class.hidden]='pwdOk === false'>
        <mat-form-field>
          <input matInput placeholder="변경할 비밀번호">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="비밀번호 확인">
        </mat-form-field>
        <button mat-button class="uppercase loginButton" (click)="chgpwd()">비밀번호 변경</button>
      </div>
    </div>
  </div>
