<div id="loginBox">
  <div class="boxwrap">
    <div id="login">
      <p class="uppercase title">
        login
      </p>
      <form action="#none">
        <div class="inputData">
          <mat-form-field>
            <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="info.uname" placeholder="ID">
          </mat-form-field>
          <mat-form-field>
            <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="info.pwd" type='password'
              placeholder="PW">
          </mat-form-field>
        </div>
        <button mat-button class="uppercase loginButton" (click)="access()">log in</button>
        <div class="AccountBox">
          <span (click)='findId()' class="findAccount pointer">아이디 찾기</span>
          &nbsp;/&nbsp;
          <span (click)='findPWD()' class="findAccount pointer">비밀번호 찾기</span>
        </div>
      </form>
    </div>
    <div id="findID">
      <p class="uppercase title">
        아이디 찾기
      </p>
      <form action="#none">
        <div class="inputData">
          <mat-form-field>
            <input matInput placeholder="이름">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="가입 이메일">
          </mat-form-field>
        </div>
        <button mat-button class="uppercase findButton" (click)="idSend()">아이디 찾기</button>
      </form>
    </div>
    <div id="findPWD">
      <p class="uppercase title">
        비밀번호 찾기
      </p>
      <div class="firstInput inputData" [class.hidden]='pwdOk === true'>
        <mat-form-field>
          <input matInput placeholder="가입 아이디">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="가입 이메일">
        </mat-form-field>
        <mat-form-field [class.hidden]='whyno === false'>
          <input matInput placeholder="인증코드를 입력해주세요" type='number'>
        </mat-form-field>
        <button mat-button class="uppercase sencode" (click)="sendCode()" [class.hidden]='whyno === true'>인증코드
          전송</button>
        <button mat-button class="uppercase findButton" [class.hidden]='whyno === false' (click)="newPwd()">새
          비밀번호</button>
      </div>
      <div class="secondInput inputData" [class.hidden]='pwdOk === false'>
        <mat-form-field>
          <input matInput placeholder="변경할 비밀번호" type='password' [(ngModel)]='newpwd' minlength="8" maxlength="20">
          <mat-hint>
            비밀번호는 8자 이상 20자 이하로 설정해주세요
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="비밀번호 확인" type='password' [(ngModel)]='newpwd2' minlength="8" maxlength="20">
          <mat-error *ngIf='newpwd2 != newpwd'>비밀번호가 서로 일치하지 않습니다.</mat-error>
          <mat-hint *ngIf='newpwd2 == newpwd' [ngStyle]="{'color':'green'}">비밀번호가 일치합니다.</mat-hint>
        </mat-form-field>
        <button mat-button class="uppercase loginButton" (click)="chgpwd()">비밀번호 변경</button>
      </div>
    </div>
  </div>
</div>
