.topWrap{
    width:100%;
    position: relative;
    height:80px;
    border-bottom:1px solid #DD5E5E;
}
.innerWrap{
    position: relative;
}
.htop{
    height:30px;
}
.ltop{
    height:50px;
}
.logo{
    position: absolute;
    top:12px;
    left:0;
    width:166.67px;
    height:50px;
    background: url(../../../assets/images/logo1.png) no-repeat center center / cover;
}
.logo a {
    display: block;
    width:100%;
    height:100%;
}
.gnb {
    position: absolute;
    right:0;
    width: 240px;
    height:30px;
}
.gnb li {
    display: inline-block;
    margin-right:20px;
    font-size: 12px;
    color: #3F3D56;
    text-align: center;
}
.gnb li h2 {
    font-size: 12px;
    color: #3F3D56;
}
.gnb li:hover {
    color:#999;
}
.gnb li h2:hover {
    color:#999;
}
.gnb li:nth-last-child(1){
    margin:0;
}
.snb {
    position: absolute;
    left: calc(50% - 360px);
    width:720px;
    height:50px;
    line-height: 50px;
}
.snb li {
    display: inline-block;
    width:25%;
    height:100%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
.snb li:hover {
    color:#DD5E5E;
    position: relative;
}
.snb li:hover::after{
    content: '';
    display: block;
    position: absolute;
    width:25px;
    height:4px;
    bottom:0;
    left:calc(50% - 12.5px);
    background-color: #DD5E5E;
}

.useful {
    width:153px;
    height:50px;
    position: absolute;
    top:30px;
    right:0;
    padding-top: 11.5px;
    box-sizing: border-box;
}
.useful li {
    display: inline-block;
    width:33%;
    height:27px;
    background: no-repeat center center / contain;
}
.useful li:nth-child(1) { background-image: url(../../../assets/images/icon/pink/menu.png); }
.useful li:nth-child(2) { background-image: url(../../../assets/images/icon/pink/search.png); }
.useful li:nth-child(3) { background-image: url(../../../assets/images/icon/pink/mypage.png); }