<div class="topWrap">
  <div class="innerWrap">
    <h1 class="logo pointer"><a href="./" class="textHidden">마음도씨</a></h1>
    <div class="htop">
      <ul class="gnb">
        <li class="pointer login" *ngIf="!sign" (click)="signin()">
          <h2>로그인</h2>
        </li>
        <li class="pointer join" *ngIf="!sign" [routerLink]="['join']">
          <h2>회원가입</h2>
        </li>
        <li class="pointer login" *ngIf="sign" (click)="signout()">
          <h2>로그아웃</h2>
        </li>
        <li class="pointer" *ngIf="sign && info.type">
          <h2>수강기록부</h2>
        </li>

        <!-- <li class="pointer" *ngIf="sign">
          <h2>오늘 내 강의</h2>
        </li> -->
        <!-- <li class="pointer howToUse" (click)="modal()">이용방법</li> -->
        <!-- <li class="pointer enrollCompany"><h2>기업등록</h2></li> -->
      </ul>
    </div>
    <div class="ltop">
      <ul class="snb">
        <!-- <li class="pointer whatIs" (click)= "active($event)">마음도씨란?</li> -->
        <li class="pointer maum" [routerLink]="['maum']">마음도씨란?</li>
        <li class="pointer allLive"  (click)="HyperLink('allLive')">모든라이브</li>
        <li class="pointer preopen" [routerLink]="['preopen']">오픈예정</li>
        <li class="pointer todayLive" [routerLink]="['todayLive']">오늘의라이브</li>
        <!-- <li class="pointer review" (click)= "active($event)">리뷰보기</li> -->
        <li class="pointer review" (click)="modal()">리뷰보기</li>
      </ul>
      <ul class="useful">
        <li class="pointer menu textHidden" (click)="menuBox()">메뉴</li>
        <li class="pointer search textHidden" (click)="searchBox()">검색하기</li>
        <li class="pointer mypage textHidden" *ngIf="sign" (click)="mypage()">마이페이지</li>
      </ul>
    </div>
  </div>
</div>
<div class="searchBox hidden">
  <span class="closeBtn pointer" (click)='closeBox()'></span>
  <div class="inputBox">
    <input type="text" name='mainSearch' class="searchInput" placeholder="검색어를 입력하세요">
    <span class="searchButton pointer" (click)='allFind($event)'></span>
  </div>
</div>
<div class="menuBox hidden">
  <div class="boxHeader">
    <span class="closeBtn pointer" (click)='closeBox()'></span>
    <ul class="headerList">
      <li>마음도씨</li>
      <li class="double">라이브</li>
      <li>리뷰</li>
      <li>이용안내</li>
    </ul>
  </div>
  <div class="boxBody">
    <div class="contentsBox">
      <div>
        <div class="content">
          <span class="headName pointer" [routerLink]="['maum']" (click)="closeBox()">마음도씨란?</span>
        </div>
        <div class="content">
          <span class="headName pointer" (click)='modal()'>한국EAP협회 소개</span>
        </div>
      </div>
      <div class="double">
        <div class="content">
          <span class="headName pointer" [routerLink]="['allLive']" (click)="closeBox()">모든라이브</span>
          <span class="subname pointer" (click)='allFind($event)'>인생여정</span>
          <span class="subname pointer" (click)='allFind($event)'>사회생활</span>
          <span class="subname pointer" (click)='allFind($event)'>힐링</span>
          <span class="subname pointer" (click)='allFind($event)'>심리</span>
        </div>
        <div class="content">
          <span class="headName pointer" [routerLink]="['todayLive']" (click)="closeBox()">오늘의 라이브</span>
        </div>
        <div class="content">
          <span class="headName pointer" [routerLink]="['preopen']" (click)="closeBox()" >오픈 예정</span>
          <span class="subname pointer"(click)="modal()">인생여정</span>
          <span class="subname pointer"(click)="modal()">사회생활</span>
          <span class="subname pointer"(click)="modal()">힐링</span>
          <span class="subname pointer"(click)="modal()">심리</span>
        </div>
      </div>
      <div>
        <div class="content">
          <span class="headName pointer" (click)="modal()">리뷰</span>
        </div>
      </div>
      <div>
        <div class="content">
          <span class="headName pointer uppercase"(click)="modal()">class 신청</span>
          <span class="subname pointer"(click)="modal()" >개인형 클래스신청</span>
          <span class="subname pointer"(click)="modal()">맞춤형 클래스신청</span>
        </div>
      </div>
    </div>
  </div>
</div>
