<div class="topWrap">
  <div class="htop">
    <div class="innerWrap">
      <h1 class="logo textHidden">마음도씨</h1>
      <ul class="gnb">
        <li class="pointer">로그인</li>
        <li class="pointer">회원가입</li>
        <li class="pointer">이용방법</li>
        <li class="pointer">기업등록</li>
      </ul>
    </div>
  </div>
  <div class="ltop">
    <div class="innerWrap">
      <ul class="snb">
        <li class="pointer">마음도씨란?</li>
        <li class="pointer">라이브</li>
        <li class="pointer">오픈예정</li>
      </ul>
      <ul class="useful">
        <li class="pointer"></li>
        <li class="pointer"></li>
        <li class="pointer"></li>
        <li class="pointer"></li>
      </ul>
    </div>
  </div>
</div>