<footer>
    <div class="tfoot">
      <div class="innerWrap">
        <ul>
          <li>개인정보처리방침</li>
          <li>이용약관</li>
          <li>설치프로그램 다운로드</li>
        </ul>
      </div>
    </div>
    <div class="bfoot">
      <div class="innerWrap">
        <div class="bottomLogo pointer"><a href="/" class="textHidden">마음도씨</a></div>
        <div class="eapLogo textHidden">한국EAP협회</div>
        <span class="placeNum">우편번호 123456</span>
        <span class="placeAddress">경상북도 김천시 혁신로 130(만성동, 국민빌딩 301호ㅋ)</span>
        <small>Copyright &copy; 니나노컴퍼니 All Rights Reserved.</small>
      </div>
    </div>
  </footer>