<footer>
    <div class="tfoot">
      <div class="innerWrap">
        <ul>
          <li class="pointer" (click)="pir()">개인정보처리방침</li>
          <li class="pointer" (click)="usr()">이용약관</li>
        </ul>
      </div>
    </div>
    <div class="bfoot">
      <div class="innerWrap">
        <div class="bottomLogo pointer"><a href="/" class="textHidden">마음도씨</a></div>
        <div class="eapLogo textHidden">한국EAP협회</div>
        <span class="placeNum">(04551)</span>
        <span class="placeAddress">서울시 중구 수표로 45, 1201호 [저동2가, 을지비즈센터]</span>
        <span class="tel">Tel 1566 5228</span>
        <span class="fax">Fax 02 2261 2010</span>
        <small> &copy; 2019. 한국EAP협회. All Rights Reserved.</small>
      </div>
    </div>
  </footer>