<script src="./assets/js/address.js"></script>
<div class="wrap" (click)='popupRemove($event)'>
  <div class="innerWrap">
    <h2>회원가입</h2>
    <ul class="tabBox">
      <li class="bold on">이용약관 동의</li>
      <!-- <li class="bold ">본인 인증</li> -->
      <li class="bold ">회원 정보 입력</li>
    </ul>
    <form action="/">

      <div class="agreement tabContentBox ">
        <p class="bold">서비스 이용을 위해 이용약관 동의가 필요합니다.</p>
        <div class="agreeBox">
          <p class="allAgree bold">전체 동의<span class="agreeHole pointer" (click)='allchk($event)'></span></p>
          <div>
            <p class="agreeKinds"><span class="underline">이용약관</span> (필수)</p>
            <div class="agreeDetail" style="white-space:pre-wrap;">
              {{ agreement.userRule }}
            </div>
            <label class="pointer need neccesary"><span class="agreeHole" (click)="onechk($event)"></span><input
                type="checkbox" name="a_info_useage" class="hidden" required> 동의 </label>
          </div>
          <div>
            <p class="agreeKinds"><span class="underline">개인정보취급방침</span> 이용약관 (필수)</p>
            <div class="agreeDetail" style="white-space:pre-wrap;">
              {{ agreement.privRule }}
            </div>
            <label class="pointer need neccesary"><span class="agreeHole" (click)="onechk($event)"></span><input
                type="checkbox" name="a_info_useage" class="hidden" required> 동의 </label>
          </div>
          <div>
            <p class="agreeKinds"><span class="underline">마케팅 활용 동의</span> (선택)</p>
            <div class="agreeDetail" style="white-space:pre-wrap;">
              {{ agreement.marketing }}
            </div>
            <label class="pointer "><span class="agreeHole" (click)="onechk($event)"></span><input type="checkbox"
                name="a_info_useage" class="hidden" required> 동의 </label>
          </div>
          <div class="btnBox">
            <button mat-button class="next bold" (click)='beforeNext1($event)'>다음</button>
          </div>
        </div>
      </div>
      <!-- <div class="certification tabContentBox hidden">
        <p class="bold">마음도씨 이용을 위해 본인인증이 필요합니다.</p>
        <div class="emailBox">
          <p class="emailTitle bold">이메일 인증<span class="designA"></span></p>

          <div class="mailAddress">
            <div>
              <span class="need">이메일 주소</span>
              <input type="email" name="e.email" [(ngModel)]="info.email">
            </div>
            <button mat-button (click)="send()">인증코드 전송</button>
          </div>
          <div class="mailCertifi">
            <div>
              <span class="need">인증코드</span>
              <input type="text" name="e.code" class="neccesary" required>
            </div>
            <button mat-button (click)="clear($event)">인증코드 확인</button>
          </div>
          <div class="btnBox">
            <button mat-button class="next bold" (click)='prevBtn($event)'>이전</button>
            <button mat-button class="next bold" (click)='beforeNext2($event)'>다음</button>
          </div>
        </div>

      </div> -->

      <div class="personal tabContentBox hidden">
        <form action="/">
          <div class="basic">
            <div class="basicInfo">
              <span class="bold infoTitle">기본 정보</span>
              <div class="floatImg">
                <span class="need">사진정보</span>
                <img src="{{filePath}}{{info.file}}" width="100%" height="100%" alt="/">
              </div>
              <label class="changeBtn pointer">
                <input type="file" id="file" name="teacher_profile" hidden (change)="showPicture($event)">
              </label>
              <div class="gridBox">
                <div>
                  <span class="need">이름</span>
                  <mat-form-field>
                    <input matInput [(ngModel)]="info.name" type="text" name="myt.name" required>
                  </mat-form-field>
                </div>
                <div>
                  <span class="need">아이디</span>
                  <mat-form-field>
                    <input matInput [(ngModel)]="info.uname" type="text" name="myt.uname" required>
                  </mat-form-field>
                </div>
                <div>
                  <span class="need">비밀번호</span>
                  <span class="chkPsw" [ngStyle]='{"color":pwdRule.color}'>{{pwdRule.word}}</span>
                  <mat-form-field>
                    <input matInput [(ngModel)]="info.pwd" type="password" name="myt.password" minlength="8" maxlength="20" (change)='pwdLength($event)'>
                  </mat-form-field>
                </div>
                <div>
                  <span class="need">비밀번호 확인</span>
                  <span class="chkPsw" [ngStyle]='{"color":pwdChk.color}'>{{pwdChk.word}}</span>
                  <mat-form-field>
                    <input matInput type="password" name="b.pwd2" required [(ngModel)]="pwdChk.correct" (keyup)='passChk()'>
                  </mat-form-field>
                </div>
                <div>
                  <span class="need">생년월일</span>
                  <mat-form-field>
                    <input  matInput [(ngModel)]="info.birth" type="date" name="myt.homepage" required>
                  </mat-form-field>
                </div>
                <div>
                  <span class="need">연락처</span>
                  <mat-form-field>
                    <input  matInput [(ngModel)]="info.contact" type="tel" name="myt.contact" required placehoslder="- 없이 번호로 입력">
                    <mat-hint [ngStyle]='{"color":"#666", "font-size":"14px"}'>- 없이 번호로 입력</mat-hint>
                  </mat-form-field>
                </div>
                <div class="addrDiv">
                  <span class="need">주소</span>
                  <mat-form-field (click)="addr()">
                    <input matInput [(ngModel)]="info.addr" type="text" name="myt.address" disabled required>
                  </mat-form-field>
                </div>
                <div>
                  <span class="need">상세주소</span>
                  <mat-form-field>
                    <input matInput type="text" name="b.subaddr" [(ngModel)]="info.subaddr" required>
                  </mat-form-field>
                </div>
                <div>
                  <span class="need">이메일</span>
                  <mat-form-field>
                    <input  matInput [(ngModel)]="info.email" type="text" name="myt.email">
                  </mat-form-field>
                </div>
                <div>
                  <span class="need">성별</span>
                  <mat-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="info.gender">
                    <mat-radio-button value="남성" class="bold">&nbsp;&nbsp; 남 </mat-radio-button>
                    <mat-radio-button value="여성" class="bold">&nbsp;&nbsp; 녀 </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="careerbox">
                  <span>경력정보 요약</span>
                    <textarea matInput name="career" [(ngModel)]="info.career" rows="8"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="bill">
            <div class="billInfo">
              <span class="bold infoTitle">결 제</span>
              <div class="billKinds">
                <span class="need" style="height:60px;">계산서 유형</span>
                <mat-radio-group [ngModelOptions]="{standalone: true}" [(ngModel)]="info.accType">
                  <mat-radio-button value="세금계산서" class="bold">&nbsp;&nbsp; 세금계산서 </mat-radio-button>
                  <mat-radio-button value="계산서(비과세)" class="bold">&nbsp;&nbsp; 계산서(비과세) </mat-radio-button>
                  <mat-radio-button value="개인사업소득" class="bold">&nbsp;&nbsp; 개인사업소득 </mat-radio-button>
                  <mat-radio-button value="개인기타소득" class="bold">&nbsp;&nbsp; 개인기타소득 </mat-radio-button>
                </mat-radio-group>
              </div>
              <div>
                <span class="need">정산정보(은행/계좌번호)</span>
                <mat-form-field>
                  <mat-label>은행선택</mat-label>
                  <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="info.bankName">
                    <mat-option *ngFor="let bank of banks" [value]="bank">
                      {{bank}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <input type="text" name="bill.masterWhere" [(ngModel)]="info.bankAcc">
              </div>
              <div>
                <span class="need">주민등록번호 혹은 사업자등록번호</span>
                <input type="text" name="myt.masterWhere" [(ngModel)]="info.reg">
              </div>
            </div>
          </div>
          <div class="lecture">
            <div class="lectureInfo">
              <span class="bold infoTitle c-pink ft-20">강의 관련 정보</span>
              <div>
                <span>학력<button mat-button (click)="addEdu()">추가</button></span>
                <div *ngFor="let e of edus">
                  <mat-form-field  >
                    <mat-label>학력</mat-label>
                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="e.level">
                      <mat-option *ngFor="let t of levels" value="{{ t.value }}">{{ t.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="e.coll" placeholder="학교명">
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="e.dep" placeholder="학과명">
                  </mat-form-field>
                  <mat-form-field >
                    <input matInput type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="e.grad" placeholder="졸업일">
                  </mat-form-field>
                  <mat-form-field >
                    <mat-label>졸업유무</mat-label>
                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="e.status">
                      <mat-option *ngFor="let t of collStat" value="{{ t.value }}">{{ t.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-button class="removeBtn" (click)="removeEdu(e)">삭제</button>
                </div>
              </div>
              <div>
                <span>자격증<button mat-button (click)="addcer()">추가</button></span>
                <div *ngFor="let e of certs">
                  <mat-form-field>
                    <mat-label>발급기관</mat-label>
                    <input matInput [(ngModel)]="e.agency" name="cer.where">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>자격명</mat-label>
                    <input matInput [(ngModel)]="e.name" name="cer.name">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>급수</mat-label>
                    <input matInput [(ngModel)]="e.level" name="cer.grade">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>자격번호</mat-label>
                    <input matInput [(ngModel)]="e.code" name="cer.number">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>발급일자</mat-label>
                    <input matInput [(ngModel)]="e.date" name="cer.date" type="date">
                  </mat-form-field>
                  <button mat-button class="removeBtn" (click)="removeCer(e)">삭제</button>
                </div>
              </div>
              <div>
                <span>경력<button mat-button (click)="addcar()">추가</button></span>
                <div *ngFor="let e of careers">
                  <mat-form-field>
                    <mat-label>시작일</mat-label>
                    <input matInput [(ngModel)]="e.start" name="ex.start" type="date">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>종료일</mat-label>
                    <input matInput [(ngModel)]="e.end" name="ex.start" type="date">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>강의명</mat-label>
                    <input matInput [(ngModel)]="e.name" name="ex.name">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>강의형태</mat-label>
                    <input matInput [(ngModel)]="e.form" name="ex.form">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>강의횟수</mat-label>
                    <input matInput [(ngModel)]="e.count" name="ex.many" type="number">
                  </mat-form-field>
                  <button mat-button class="removeBtn" (click)="removeCar(e)">삭제</button>
                </div>
              </div>
              <div>
                <span>교육주제(원인)</span>
                <div class="gridBox">
                  <div *ngFor="let s of cause">
                    <mat-checkbox class="wd-30" [ngModelOptions]="{standalone: true}" [(ngModel)]="s.completed">
                      {{ s.name }}
                    </mat-checkbox>
                  </div>
                </div>
              </div>
              <div>
                <span>교육주제(반응)</span>
                <div class="gridBox">
                  <div *ngFor="let s of react">
                    <mat-checkbox class="wd-30" [ngModelOptions]="{standalone: true}" [(ngModel)]="s.completed">
                      {{ s.name }}
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btnBox">
            <!-- 서브밋 버튼이 되어야함 -->
            <button mat-button class="next bold" (click)='prevBtn($event)'>이전</button>
            <button mat-button class="next bold" (click)="beforeNext3()">완료</button>
          </div>
      <!-- <div class="finish tabContentBox hidden">
          <div class="finishBox">
            <div class="charactor"></div>
            <p class="bold"><span>{{ info.name }}</span> 님 환영합니다!</p>
            <p class="bold">마음도씨 회원가입이 완료 되었습니다.</p>
          </div>
          <div class="btnBox">
            <button mat-button [routerLink]="['']" class="next bold">확인</button>
          </div>
        </div>- -->
    </form>
  </div>

<div #daum_popup style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
</div>
