/* 체크박스 설정 */
.agreeHole {
    display: block;
    width:24px;
    height:24px;
    border:1px solid #c4c4c4;
    background-color: #f2f2f2;
    border-radius: 100%;
}
.checked {
    background-color: #dd5e5e;
    position: relative;
    border-color: #dd5e5e;
}
.checked::after{
    content: '';
    width:17px;
    height:13px;
    position: absolute;
    left:3.5px;
    top:5.5px;
    background: url(../../../assets/images/icon/white/chk.png) no-repeat center center / cover;
}
.checkFalse::after {
    content: '체크해제';
    cursor:pointer;
    font-size: 12px;
    margin-left: 10px;
    color:#ccc;
}   
.checkFalse:hover::after {
    text-decoration: underline;
    color:#666;
}
/* --------------------------------------------------- */
.wrap { padding-bottom: 50px;}
.innerWrap {
    padding-top: 40px;
}
h2 {
    text-indent: 10px;
    color:#3F3D56;
    border-bottom:1px solid #c4c4c4;
}
.tabBox {
    margin-top: 50px;
}
.tabBox li {
    height:60px;
    display: inline-block;
    width:calc(33.3% - 2px);
    border-right:1px solid #ffdddd;
    border-top: 1px solid #ffdddd;
    border-bottom:1px solid #dd5e5e;
    text-align: center;
    line-height: 60px;
    font-size: 26px;
    color:#c4c4c4;
}
.tabBox li:nth-child(1){
    border-left: 1px solid #ffdddd;
    width:calc(33.3% - 2px);
}
.tabBox li.on {
    background-color: #dd5e5e;
    color: #fff;
    border-color: #dd5e5e;
}
.tabContentBox {
    padding-top: 67px;
}
.tabContentBox > p {
    color:#3F3D56;
    font-size: 26px;
    text-align: center;
    margin: 0 !important;

}

/* 이용약관동의 */
.agreeBox {
    padding-top: 40px;
}
.agreeBox > p {
    font-size: 20px;
    border-bottom: 1px solid #dd5e5e;
    color:#dd5e5e;
    padding-bottom: 10px;
    text-indent: 10px;
    margin: 0 !important;
}
.agreeBox > p span {
    float:right;
}
.agreeBox > div {
    padding-top: 30px;
    position: relative;
}
.agreeBox .agreeKinds {
    font-size: 18px;
    margin-bottom: 30px!important;
}
.agreeBox .agreeDetail {
    height:162px;
    border:1px solid #c4c4c4;
    box-sizing: border-box;
    padding:1rem;
    overflow-y: scroll;
}
.agreeBox > div label {
    margin-top: 20px;
}
.agreeBox > div .agreeHole {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}
.agreeBox .btnBox {
    padding-top: 45px;
    text-align: center;
} 
.agreeBox .btnBox .next {
    width:300px;
    height:60px;
    border-radius: 0;
    background-color: #dd5e5e;
    color:#fff;
    font-size:26px;
    text-align: center;
    line-height: 60px;
}
/* 이메일 인증 */
.emailBox {
    padding-top: 100px;
}
.emailBox > p {
    text-align: center;
    width: 600px;
    height:60px;
    line-height: 60px;
    font-size: 30px;
    border-bottom: 1px solid #dd5e5e;
    color:#dd5e5e;
    text-indent: 10px;
    margin: 0 auto !important;
    position: relative;
}
.emailBox > p .designA {
    position: absolute;
    bottom:-6px;
    left:calc(50% - 15px);
}
.emailBox > div {
    position: relative;
    width:540px;
    margin:0 auto;
}
.emailBox .mailAddress {
    padding-top: 104px;
}
.emailBox .mailCertifi {
    padding-top: 56px;
}
.emailBox > div > div {
    width:380px;
    height:70px;
}
.emailBox > div > div span {
    display:block;
    height:30px;
    font-size: 22px;
    color:#3F3D56;
    line-height: 30px;
}
.emailBox > div > div input {
    width:380px;
    color:#3F3D56;
    font-size: 22px;
    display:block;
    height:40px;
    box-sizing: border-box;
    padding-bottom: 8px;
    border:0;
    border-bottom: 1px solid #c4c4c4;
    text-indent: 15px;
}
.emailBox > div > div input::placeholder{
    color:#ccc;
}
.emailBox > div > div input:focus {
    outline: none;
}
.emailBox > div > button {
    width:130px;
    height:40px;
    border:1px solid #dd5e5e;
    color:#dd5e5e;
    font-size: 18px;
    line-height: 20px;
    border-radius: 0;
    text-align: center;
    padding:0;
    position: absolute;
    right:0;
    bottom:0;
}
.emailBox .btnBox {
    padding-top: 100px;
    text-align: center;
} 
.emailBox .btnBox .next {
    position: relative;
    display: inline-block;
    width:220px;
    height:60px;
    border-radius: 0;
    background-color: #dd5e5e;
    color:#fff;
    font-size:26px;
    text-align: center;
    line-height: 60px;
    margin:0 20px;
}
.companyBox {
    padding-top: 100px;
}
.companyBox > p {
    text-align: center;
    width: 600px;
    height:60px;
    line-height: 60px;
    font-size: 30px;
    border-bottom: 1px solid #dd5e5e;
    color:#dd5e5e;
    text-indent: 10px;
    margin: 0 auto !important;
    position: relative;
}
.companyBox > p .designA {
    position: absolute;
    bottom:-6px;
    left:calc(50% - 15px);
}
.companyBox > div {
    position: relative;
    width:540px;
    margin:0 auto;
    padding-top: 40px;
}
.companyBox > div > div {
    width:100%;
    height:70px;
} 
.companyBox > div > div span {
    display:block;
    height:30px;
    font-size: 22px;
    color:#3F3D56;
    line-height: 30px;
}
.companyBox > div > div input {
    width:100%;
    color:#3F3D56;
    font-size: 22px;
    display:block;
    height:40px;
    box-sizing: border-box;
    padding-bottom: 8px;
    border:0;
    border-bottom: 1px solid #c4c4c4;
    text-indent: 15px;
}
.companyBox .companyCode > div > input  {
    width: 380px;
}
.companyBox > div > div input::placeholder{
    color:#ccc;
}
.companyBox > div > div input:focus{
    outline: none;
}
.companyBox > div > button{
    width:130px;
    height:40px;
    border:1px solid #dd5e5e;
    color:#dd5e5e;
    font-size: 18px;
    line-height: 20px;
    border-radius: 0;
    text-align: center;
    padding:0;
    position: absolute;
    right:0;
    bottom:0;
}
.companyBox .companyInfo {
    padding-top: 120px;
    position: relative;
}



/* 회원정보입력 */
/* 기본정보 */
.basic {
    padding-top : 100px;
    position: relative;
  }
  .basicInfo .infoTitle {
    font-size: 20px;
    position: absolute;
    left:0;
    top:100px;
    color:#DD5E5E;
  }
  .basicInfo .floatImg {
    position: absolute;
    left:0;
    top:150px;
    width:175px;
    height: 210px;
    border:1px solid #ccc;
    background: url(../../../assets/images/noImg.png) no-repeat center center / contain;
  }
  .basicInfo .changeBtn {
      width:25px;
      height:25px;
      background: url(../../../assets/images/icon/pink/edit.png) no-repeat center center / cover;
      position: absolute;
      top:370px;
      left:150px;
      z-index:2;      
  }
  .basicInfo .gridBox {
    margin:0 auto;
    width:790px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
  }
  .basicInfo .gridBox div {
    width:380px;
    height:70px;
  }
  .basicInfo .gridBox div span {
    box-sizing: border-box;
    display:block;
    height:30px;
    font-size: 16px;
    color:#3F3D56;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .basicInfo .gridBox div input {
    width:380px;
    color:#3F3D56;
    font-size: 22px;
    display:block;
    height:40px;
    box-sizing: border-box;
    padding-bottom: 8px;
    border:0;
    border-bottom: 1px solid #c4c4c4;
    text-indent: 15px;
  }
  .basicInfo .gridBox div input::placeholder {
    color:#ccc;
  }
  .basicInfo .gridBox div input {
    outline: none;
  }
  .basicInfo .gridBox div label {
    width:50%;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding-top: 12px;
    border:0;
    margin:0!important;
    text-align: center;
  }
  .basicInfo .gridBox div label input[type=radio]{
    width:auto;
    font-size: 22px;
    display:inline-block;
    height:20px;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .basicInfo .gridBox div label input[type='radio']:checked{
  
    background-color: #3F3D56;
  }
  .basicInfo .gridBox div .mat-radio-group {
    display: inline-block;
    height:40px;
    padding-top: 15px;
    width:100%;
  }
  .basicInfo .gridBox div .mat-form-field {
    display: inline-block;
    height:40px;
    padding-top: 15px;
    width:100%;
  }
  .basicInfo .gridBox div .mat-radio-group .mat-radio-button {
    width:50%;
    font-size: 16px;
  }
  /* 계산서유형 */
  .bill {
    padding-top : 100px;
    position: relative;
  }
  .billInfo {
    margin:0 auto;
    width:790px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    row-gap: 20px;
  }
  .billInfo .infoTitle {
    font-size: 20px;
    position: absolute;
    left:0;
    top:100px;
    color:#DD5E5E;
  }
  
  .billInfo div {
    width:100%;
    position: relative;
  }
  .billInfo div.billKinds {
    grid-column: 1 / 3 ;
  }
  .billInfo div.billKinds span{
    padding-bottom: 30px;
  }
  .billInfo div span {
    display:block;
    height:30px;
    font-size: 16px;
    color:#3F3D56;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .billInfo div .mat-form-field {
    position:absolute;
    right:0;
    bottom:-1.12rem;
    width: 150px;
  }
  .billInfo div input {
    width:380px;
    color:#3F3D56;
    font-size: 16px;
    display:block;
    height:40px;
    box-sizing: border-box;
    padding-right: 160px;
    border:0;
    border-bottom: 1px solid #c4c4c4;
    text-indent: 8px;
  }
  .billInfo div input::placeholder {
    color:#ccc;
  }
  .billInfo div input {
    outline: none;
  }
  .billInfo div label {
    width:50%;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding-top: 12px;
    border:0;
    margin:0!important;
    text-align: center;
  }
  .billInfo div .mat-radio-group {
    height:40px;
    padding-top: 15px;
    width:100%;
  }
  .billInfo div .mat-radio-group .mat-radio-button {
    display: inline-block;
    width:33%;
    font-size: 16px;
  }
  /* 추가 정보 */
  .education {
    padding-top : 100px;
    position: relative;
  }
  .educationInfo .infoTitle {
    font-size: 20px;
    position: absolute;
    left:0;
    top:100px;
    color:#DD5E5E;
  }
  .educationInfo .infoTitle button {
    background-color: #DD5E5E;
    color:#fff;
  }
  .educationInfo {
    margin:0 auto;
    width:790px;
    display: grid;
    row-gap: 40px;
  }
  .educationInfo div {
    width:100%;
    height:70px;
    position: relative;
  }
  .educationInfo div .removeBtn {
    position: absolute;
    right:-70px;
    top:40px;
    background-color: #eee;
  }
  .educationInfo div span {
    box-sizing: border-box;
    display:block;
    height:30px;
    font-size: 20px;
    color:#3F3D56;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .educationInfo div span .chkBox{
    display: inline-block;
    width: 20px;
    height: 20px;
    border:1px solid #c4c4c4;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 20px;
  }
  .educationInfo div span .checked {
    background-color: #DD5E5E;
    border-color: #DD5E5E;
  }
  .educationInfo div .mat-form-field{
    width:calc(25% - 10px);
    color:#3F3D56;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding: 8px;
    margin: 0 5px;
    border:0;
  }
  .educationInfo div input::placeholder {
    color:#ccc;
  }
  .educationInfo div input {
    outline: none;
  }
  .educationInfo div label input[type=radio]{
    width:auto;
    font-size: 22px;
    display:inline-block;
    height:20px;
    box-sizing: border-box;
    vertical-align: middle;
  }
  .educationInfo div label input[type='radio']:checked{
  
    background-color: #3F3D56;
  }
  .educationInfo div .mat-radio-group {
    display: inline-block;
    height:40px;
    padding-top: 15px;
    width:100%;
  }
  .educationInfo div .mat-radio-group .mat-radio-button {
    width:50%;
    font-size: 16px;
  }
  /* 강의 관련정보 */
  .lecture {
    padding-top : 50px;
    position: relative;
  }
  .lectureInfo .infoTitle {
    font-size: 20px;
    position: absolute;
    left:0;
    top:70px;
    color:#DD5E5E;
  }
  .lectureInfo {
    margin:0 auto;
    width:790px;
    display: grid;
    row-gap:70px;
  }

  .lectureInfo div {
    width:100%;
  }
  .lectureInfo div.gridBox {
    margin:0 auto;
    width:790px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 19px;
  }
  .lectureInfo div div  {
    position: relative;
    padding-bottom: 20px;
  }
  .lectureInfo div div .removeBtn {
    position: absolute;
    right:-60px;
    top:20px;
    background-color: #eee;
  }
  .lectureInfo div span {
    display:block;
    height:30px;
    font-size: 20px;
    color:#3F3D56;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .lectureInfo div .mat-form-field{
    width:calc(20% - 6px);
    color:#3F3D56;
    font-size: 16px;
    display:inline-block;
    height:40px;
    box-sizing: border-box;
    padding: 8px;
    margin: 0 3px;
    border:0;
  }
  .lectureInfo div span.checking{
    background-color: #3F3D56;
    border-color: #3F3D56;
  }
   .btnBox {
    padding-top: 100px;
    text-align: center;
  }
   .btnBox button {
    position: relative;
    display: inline-block;
    margin:0 20px;
    width:300px;
    height:60px;
    border-radius: 0;
    background-color: #DD5E5E;
    color:#fff;
    font-size:26px;
    text-align: center;
    line-height: 60px;
  }