.Categories {
    padding-top:50px;
    padding-bottom: 40px;
}
.bigList {
    width: 950px;
    margin:0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.bigList li {
    display: inline-block;
    width:calc(25% - 50px);
    margin:0 25px;
    position: relative;
}
.bigList li.clicked::after {
    content:'';
    display: block;
    width:25px;
    height:20px;
    background: url(../../../assets/images/icon/arrow_category.png) no-repeat center center / contain;
    position: absolute;
    bottom:-23px;
    left:45px;
    color:#DD5E5E;
}
.bigList li .img {
    vertical-align: middle;
}

.bigList li .bigC {
    padding-left: 10px;
    font-size: 24px;
}
.subList {
    border:1px solid #c4c4c4;
    background-color: #f7f8fc;
    height: 80px;
}
.subList li {
    width:25%;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    line-height: 80px;
}
/* 라이브 리스트 */
.show_title {
    margin:0;
    font-size:30px;
    line-height: 33px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3f3d56;
}
.show_title span {
    font-size: 22px;
}
.liveListGrid {
    width:100%;
    display: grid;
    grid-template-columns: repeat(3,380px);
    column-gap: 30px;
    row-gap: 50px;
    padding: 50px 0 60px;
}

/* .liveListGrid .live {
    box-sizing: border-box;
    padding: 0 19px;
    position: relative;
    background-color: #fff;
}
.liveListGrid .live .big,
.liveListGrid .live .small {
    position: absolute;
    left:-9999px;
}

.liveListGrid .process {
    width:38px;
    height:33px;
    text-align: center;
    border-radius: 5px;
    line-height: 33px;
    border:1px solid #dd5e5e;
    vertical-align: middle;
    color:#dd5e5e;
}
.liveListGrid .cardTitle {
    width:291px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    margin:0 !important;
    vertical-align: middle;
}
.liveListGrid .bannerImg {
    width:100%;
    height:198px;
    margin-top: 20px;
}
.liveListGrid .bannerImg img {
    width:100%;
    height:100%;
}
.liveListGrid .temp {
    position: absolute;
    width:100%;
    height:60px;
    background: url(../../../assets/images/icon/other.png) no-repeat center center / contain;
    left:0;
    top:220px;
}
.liveListGrid .tempDynamic {
    position: absolute;
    width:300px;
    height:14.44px;
    left:50.2px;
    top:19.5px;
    background-color: #DD5E5E;
    border-radius: 30px;
}
.liveListGrid .closeInfo {
    position: absolute;
    left:0;
    padding-left: 35px;
    width:100%;
    top:280px;
    box-sizing: border-box;
    vertical-align: middle;
}
.liveListGrid .closeInfo > div {
    display: inline-block;
}
.liveListGrid .closeInfo .timeRound { display: inline-block;}
.liveListGrid .closeInfo .time {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height:23px;
    width:52px;
    height:23px;
    border-radius: 20px;
    background-color: #DD5E5E;
    color:#fff;
    margin-right:20px;
    vertical-align: bottom;

}
.liveListGrid .closeInfo .round {
    display: inline-block;
    margin:0!important;
}
.liveListGrid .closeInfo .round span { 
    display: inline-block;
    border-radius: 100%;
    width:23px;
    height:23px;
    color:#fff;
    font-size:16px ;
    background-color: #ffdddd;
    margin-right: 10px;
    vertical-align: bottom;
    text-align: center;
    line-height: 23px;
}
.liveListGrid .closeInfo .round .during{
    background-color: #DD5E5E;
}
.liveListGrid .closeInfo .degree {
    display: inline-block;
    font-size: 20px;
    color:#dd5e5e;
    padding-left: 15px;
    line-height: 20px;
}
.liveListGrid .closeInfo .degree .howMuch{
    font-size: 26px;
}
.liveListGrid .bannerTexts {
    width:100%;
    height:55px;
    margin-top: 80px;
    box-sizing: border-box;
    padding-right: 55px;
}
.liveListGrid .goArrow {
    position: absolute;
    right:19px;
    bottom:0;
    width:55px;
    height:55px;
    background: url(../../../assets/images/button/arrowBtn.png) no-repeat center center / cover;   
} */

.designedBox {
    display: inline-block;
    width:380px;
    height:435px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    padding: 30px 20px 0;

}
.designedBox:last-child {
    margin:0;
}
.designedBox .process {
    width:150px;
    height:35px;
    color:#fff;
    background-color: #3f3d56;
    border-radius: 30px;
    position: absolute;
    left:30px;
    top:-20px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}
.designedBox .company {
    width:150px;
    height:35px;
    background-color:#fff;
    color:#3f3d56;
    border:1px solid #3f3d56;
    border-radius: 30px;
    position: absolute;
    right:30px;
    top:-20px;
    text-align: center;
    line-height: 35px;
    font-weight: bold;
}
.designedBox .itemHeader {
    width:340px;
    height:66px;
    margin: 0 auto;
    font-size: 26px;
    font-weight:bold;
    line-height: 30px;
}
.designedBox .itemImg {
    width:340px;
    height:200px;
}
.designedBox .itemImg img{
    width:100%;
    height:100%;
}
.designedBox .thermo {
    width:100%;
    position:absolute;
    top:260px;
    left:0;
    height:60px;
    background: url(../../../assets/images/icon/0c.png) no-repeat center center / contain;
}
.designedBox .thermo .thermoBar {
    position: absolute;
    top:19px;
    left:52px;
    background-color: #DD5E5E;
    border-radius: 10px;
    max-width: 300px;
}
.designedBox .remainDate {
    position: absolute;
    left:20px;
    color:#DD5E5E;
    top: 320px;
    font-size:22px;
    font-weight: bold;
}
.designedBox .degrees {
    position: absolute;
    right:20px;
    color:#DD5E5E;
    top: 320px;
    font-size:22px;
    font-weight: bold;
}
.designedBox .hashTag {
    padding-top: 10px;
    width:100%;
    text-align: center;
    font-size: 20px;
    color:#DD5E5E;
    font-weight: bold;
}
.designedBox .smallText {
    padding-top: 60px;
    height:60px;
    width:270px;
    font-size: 16px;
}
.designedBox .goDetail {
    width:80px;
    height:80px;
    background: url(../../../assets/images/button/arrowBtn.png) no-repeat center center / cover;
    position: absolute;
    right:0;
    bottom:0;
}
.designedBox .bigText {
    padding-top: 10px;
    height:80px;
    width:100%;
    font-size: 18px;

}