<div class="wrap">
  <!-- Class abstract -->
  <section class="streamContainer">
    <div class="innerWrap">

      <div class="streamBox">
        <div class="iframeBox" *ngIf="link != ''">
          <iframe [src]="link | safe" frameborder="0"></iframe>
        </div>
        <!-- <div class="chatBox">
          <div class="chatHeader">
            <span style="color:#555; font-size: 22px; line-height:28px">라이브 채팅</span>
          </div>
          <div class="chatBody noOver" #chatScroll >
            <p class="chatLine" *ngFor='let c of fakeChat'>
              <span class="name">{{c.name}}</span>
              <span class="text whitewrap">{{c.text}}</span>
            </p>
          </div>
          <div class="typingBox">
            <textarea name="amolang" placeholder="메시지를 입력해주세요." class="chatInput" [(ngModel)]='chatText'></textarea>
            <span class="nml hidden"></span>
            <span class="chatUpBtn pointer"(click)='chatUp(this.chatText)'></span>
          </div>
        </div> -->
        <div class="streamUnderBar">
          <span class="liveStatus uppercase ">● live</span>
          <span class="className">{{ info.title }}</span>
          <span class="teacherName">{{ instInfo.name }}</span>
          <span class="gocurri pointer" (click)='scroll(curr)'><span class="currImg"></span>커리큘럼</span>
          <span class="goreview pointer" (click)='scroll(review)'><span class="rvwImg"></span>리뷰작성</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Submenus -->
  <div class="submenu container">
    <div class="row">
      <div class="col title pointer" (click)="scroll(det)">상세정보</div>
      <div class="col title pointer" (click)="scroll(curr)">커리큘럼</div>
      <div class="col title pointer" (click)="scroll(review)">리뷰쓰기</div>
      <div class="col title pointer" (click)="scroll(refund)">취소/환불</div>
    </div>

  </div>
  <!-- class how -->
  <section class="class-inst container">
    <div class="row">
      <img src="../../../assets/images/img/class_how_to.jpg">
    </div>
  </section>
  <!-- Lecture introduction -->
  <section class="foryou container" #det>
    <!--
              <div class="row">
                  <img src="../../../assets/images/img/class_introduction.jpg">
              </div>
              -->
    <div class="row section-title">
      Class<br>For You
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-2"></div>
      <div class="col-8 sect-subtitle">"이런 분들을 위해 준비했습니다"</div>
      <div class="col-2"></div>
    </div>
    <div class="row readyFor">
      <div *ngFor='let r of info.targets'>{{r.desc}}</div>
    </div>
  </section>

  <!-- Testimonial -->
  <section class="testimonial container">
    <!--
          <div class="row">
              <img src="../../../assets/images/img/testimonial.jpg">
          </div>
          -->
    <div class="row section-title">
      Student<br>Review
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-4"></div>
      <div class="col-4 sect-subtitle">수강생 후기</div>
      <div class="col-4"></div>
    </div>
    <div class="testimonial-li">

      <div class="entry" *ngIf='info.restar1'>
        <div class="starWrap">
          <img src="../../../assets/images/icon/star/star{{info.restar1}}.png" alt="별점 {{info.restar1}}점">
        </div>
        <div class="testi-text">
          {{info.re1}}
        </div>
      </div>

      <div class="entry" *ngIf='info.restar2'>
        <div class="starWrap">
          <img src="../../../assets/images/icon/star/star{{info.restar2}}.png" alt="별점 {{info.restar2}}점">
        </div>
        <div class="testi-text">
          {{info.re2}}
        </div>
      </div>

      <div class="entry" *ngIf='info.restar3'>
        <div class="starWrap">
          <img src="../../../assets/images/icon/star/star{{info.restar3}}.png" alt="별점 {{info.restar3}}점">
        </div>
        <div class="testi-text">
          {{info.re3}}
        </div>
      </div>

    </div>
  </section>
  <section class="intro container">
    <!--
              <div class="row">
                  <img src="../../../assets/images/img/class_introduction.jpg">
              </div>
              -->
    <div class="row section-title">
      Class<br>Introduction
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-2"></div>
      <div class="col-8 sect-subtitle" style="color:#dd5e5e">클래스에는 이런내용이 담겨있어요</div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="introductionImg"></div>
      <div class="classpoint" *ngFor='let p of info.sums'>
        <span class="uppercase title">POINT {{p.point}}</span>
        <span class="content">{{p.desc}}</span>
      </div>
      <!-- <div class="col-4">집중하지 못하고 효율이 안나오는 사람</div>
        <div class="col-4">체력부족을 절실히 느끼는 사람</div>
        <div class="col-6" style="border-left: 1px solid #dd5e5e; margin-top: 30px;">계획했던 일이 잘 풀리지 않는 사람</div>
        <div class="col-6" style="margin-top: 30px;">매일 피곤하고 지병이 생길 것 같은 사람</div> -->
    </div>
  </section>
  <section class="presents container">
    <!--
              <div class="row">
                  <img src="../../../assets/images/img/class_introduction.jpg">
              </div>
              -->
    <div class="row section-title">
      Class<br>Presents
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-2"></div>
      <div class="col-8 sect-subtitle">클래스 특징</div>
      <div class="col-2"></div>
    </div>
    <div class="goodness">
      <div class="inlineBlock expect">
        <div class="title">기대 효과</div>
        <div class="contents" *ngFor='let e of info.exps'>{{e.desc}}</div>
      </div>
      <div class="inlineBlock particular">
        <div class="title">진행 특징</div>
        <div class="contents" *ngFor='let e of info.feats'>{{e.desc}}</div>
      </div>
    </div>
  </section>
  <!-- Class instruction -->


  <!-- Curriculum -->
  <section class="curriculum container" #curr>

    <div class="row section-title">
      Curriculum
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-4"></div>
      <div class="col-4 sect-subtitle">커리큘럼</div>
      <div class="col-4"></div>
    </div>
    <div class="row" style="padding-top:80px;">
      <table class="table table-entry">
        <colgroup>
          <col width="80px">
          <col width="180px">
          <col width="240px">
          <col width="165px">
          <col width="435px">
        </colgroup>
        <thead>
          <tr>
            <th scope="col">회기</th>
            <th scope="col">일정</th>
            <th scope="col">주제명</th>
            <th scope="col">시간</th>
            <th scope="col">내용</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let c of info.currs'>
            <td>{{c.stage}} 차</td>
            <td>{{c.date | date: 'M월 d일 E'}}<br>{{c.date | date: 'HH:mm'}}({{c.dur}}분)</td>
            <td>{{c.title}}</td>
            <td class="dividedCell" colspan="2">
              <table class='innerTable'>
                <colgroup>
                  <col width='165px'>
                  <col width='435px'>
                </colgroup>
                <tr *ngFor='let cur of c.timetable'>
                  <td>{{cur.dur}}분</td>
                  <td class="whitewrap">{{cur.desc}}</td>
                </tr>
              </table>
              <!-- <div *ngFor='let cur of c.curr'>
                  <span>{{cur.pieceTime}}</span>
                  <span>{{cur.kinds}}</span>
                  <span class="nowrap">{{cur.contents}}</span>
                </div> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <!-- kit -->
  <section class="classKit container" *ngIf='info.kit || info.mat'>
    <div class="row section-title">
      Class<br>Kit & Material
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;" *ngIf="info.kit">
      <div class="col-4"></div>
      <div class="col-4 sect-subtitle uppercase">kit</div>
      <div class="col-4"></div>
    </div>
    <div class="kitImg" *ngIf="info.kit">
      <img src="{{filePath}}{{info.kitImg}}" alt="키트사진">
    </div>
    <div class="row" style="padding-top:50px; height:120px;" *ngIf="info.mat">
      <div class="col-4"></div>
      <div class="col-4 sect-subtitle uppercase">준비물</div>
      <div class="col-4"></div>
    </div>
    <div class="materialImg" *ngIf="info.mat">
      <img src="{{filePath}}{{info.matImg}}" alt="준비물사진">
    </div>
  </section>

  <!-- Instructor introduction -->
  <section class="instructor container">
    <!--
          <div class="row">
              <img src="../../../assets/images/img/instructor_introduction.jpg">
          </div>
          -->
    <div class="row section-title">
      Expert<br>introduction
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-3"></div>
      <div class="col-6 sect-topborder">{{ instInfo.name }}</div>
      <div class="col-3"></div>
    </div>
    <div class="row instructor-box">
      <div class="col-4 instructor-picture">
        <img width="300px" height="300px" src="{{filePath}}{{instInfo.inst.file}}">
      </div>
      <div class="col-8 instructor-desc">
        <p class="whitewrap">
          {{instInfo.inst.career}}
        </p>
      </div>
    </div>
    <div class="row instructor-picli">
      <img src="{{filePath}}{{info.mainImg}}">
    </div>
  </section>

  <section class="review container" #review>
    <!--
          <div class="row">
              <img src="../../../assets/images/img/instructor_introduction.jpg">
          </div>
          -->
    <div class="row section-title">
      Class<br>Review
    </div>
    <div class="row dot-sm"></div>
    <div class="row dot-xsm"></div>
    <div class="row" style="padding-top:50px; height:120px;">
      <div class="col-3"></div>
      <div class="col-6 sect-topborder">리뷰 작성하기</div>
      <div class="col-3"></div>
    </div>
    <div class="reviewedBox">
      <p *ngFor='let r of reviews'>
        <span class="inlineBlock img"><img src="{{r.img}}"></span>
        <span class="inlineBlock name">{{r.name}}</span>
        <span class="inlineBlock mention whitewrap">{{r.desc}}</span>
      </p>
    </div>
    <div class="writeBox">
      <div class="giveStar">
        <p>별점주기</p>
        <button mat-button [matMenuTriggerFor]="menu">별점 주기</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor='let s of detail.starimg' (click)='giveStar(s)'><img
              src="{{s.img}}">{{s.text}}</button>
        </mat-menu>
      </div>
      <div class="giveComment">
        <p>리뷰쓰기</p>
        <div class="mentionBox" (focus)="bcc($event)">
          <p *ngIf="login">{{user.name}} 님</p>
          <textarea name='reviewText' placeholder="{{reviewText}}" [(ngModel)]="review_desc"></textarea>
        </div>
      </div>
      <button mat-button class="submit" (click)="review_add()">등록</button>
    </div>
  </section>

  <!-- Refund -->
  <section class="refund container" #refund>
    <div class="row">
      <img src="../../../assets/images/img/cancel-exchange.png">
    </div>
  </section>
</div>
<!-- 추천 -->
<!-- <section class="recommamd">
    <div class="title">마음도씨 추천 라이브
      <div class="littleSqure"></div>
    </div>
    <div class="recommandBox">
      <div class="innerWrap">
        <ul>
          <li *ngFor='let r of detail.recommand'>
            <div class="process">{{r.process}}</div>
            <div class="classcategory hidden" [style.background]='r.color'>{{r.category}}</div>
            <div class="itemHeader">{{r.title}}</div>
            <div class="itemImg"><img src="{{r.img}}" alt="/"></div>
            <div class='degreeBox' *ngIf='r.degree'>
              <span class="thermo"><span [ngStyle]="{'width.px': r.degree*3}" class="thermoBar textHidden">{{r.degree}}</span></span>
              <span class="remainDate">일 남음</span>
              <span class="degrees">{{r.degree}}ºC 마음도씨</span>
            </div>
            <div class='hashTag' *ngIf='r.hashTag'>
              <span *ngFor='let h of r.hashTag'>&nbsp;{{h.tag}}&nbsp;</span>
            </div>
            <div class="smallText" *ngIf='r.degree'>
              <span>{{r.text}}</span>
            </div>
            <div class="bigText" *ngIf='r.hashTag'>
              <span>{{r.text}}</span>
            </div>
            <span class="goDetail inlineBlock pointer" *ngIf='r.degree'></span>
          </li>
        </ul>
      </div>
    </div>
  </section> -->
