<div class="wrap">
  <div class="innerWrap">
    <div class="Categories">
      <ul class="bigList">
        <li *ngFor='let c of category' [class.selected]="c === selectedC" (click)='onselect(c,$event)' class="pointer">
          <span class="inlineBlock img">
            <img src="{{c.image}}" alt="{{c.title}} 아이콘">
          </span>
          <span class="inlineBlock bold bigC">{{c.title}}</span>
        </li>
      </ul>
      <div class="subList" *ngIf="selectedC">
        <li *ngFor='let sc of selectedC.subtitle' class="pointer" (click)='bold($event)'z>{{sc.subname}}</li>
      </div>
    </div>
    <div class="showLives">
      <h3 class="show_title bold">{{title}}
        <!-- <select class="form-select">
                    <option selected>전체</option>
                    <option value="진행">진행</option>
                    <option value="종료">종료</option>
                </select> -->
      </h3>
      <div class="liveListGrid">
        <!-- <div class="live" *ngFor="let l of info">
          <span class="inlineBlock process">{{l.process}}</span>
          <p class="inlineBlock cardTitle bold" style=" white-space: nowrap;">{{l.title}}</p>
          <div class="bannerImg">
            <img src="{{filePath}}{{l.thumbnail1}}" alt="배너사진">
          </div>
          <div class="temp">
            <div class="tempDynamic textHidden">{{l.degree}}</div>
          </div>
          <div class="closeInfo">
            <div class="timeRound">
              <span class="time bold"><span *ngIf="l.currs.length > 0">{{l.currs[0].dur}}</span>분</span>
              <p class="round">
                <span class="during bold">1</span>
                <span class="bold">2</span>
                <span class="bold">3</span>
              </p>
            </div>
            <div class="degree bold"><span class="howMuch">{{l.limit}}</span>ºC 마음도씨</div>
          </div>
          <div class="bannerTexts">
            {{l.subtitle}}
          </div>
          <div class="goArrow pointer" (click)="detail(l)"></div>
        </div> -->
        <div *ngFor='let r of info' class="designedBox">
          <div class="process">{{r.process}}</div>
          <!-- 프로세스 'OPEN 예정' 필요  -->
          <div class="classcategory" [style.background]='class[0].color'><span class="inlineBlock textHidden maincategory">인생여정</span><span class="subcategory">인생 2막</span></div>
          <!-- 서브 카테고리 마다 색이 들어가야함  메인 카테고리 , 서브 카테고리 필요-->
          <div class="itemHeader">{{r.title}}</div>
          <div class="itemImg"><img src="../../../assets/images/banner/flower.png" alt="/"></div>
          <!-- 섬네일을 못불러와서 임의로 넣음  -->
          <div class='degreeBox' *ngIf='r.degree'>
            <span class="thermo"><span [ngStyle]="{'width.px': r.degree*3}"
                class="thermoBar textHidden">{{r.degree}}</span></span>
                <!-- 온도 더미 -->
            <span class="remainDate">일 남음</span>
            <!-- 남는 날짜 계산을 우짜지.. -->
            <span class="degrees">70 ºC 마음도씨</span>
          </div>
          <!-- <div class='hashTag' *ngIf='r.hashTag'> -->
            <div class='hashTag' >
              <!-- <span *ngFor='let h of r.hashTag'>&nbsp;#심리안정&nbsp;</span> -->
              <!-- 해시태그 필요 밑은 더미 -->
            <span>&nbsp;#릴렉스&nbsp;</span>
            <span>&nbsp;#스트레칭&nbsp;</span>
          </div>
          <div class="smallText" *ngIf='r.degree'>
            <span>{{r.subtitle}}</span>
          </div>
          <!-- <div class="bigText" *ngIf='r.hashTag'> -->
            <div class="bigText">
            <span>{{r.subtitle}}</span>
          </div>
          <span class="goDetail inlineBlock pointer" *ngIf='r.degree'></span>
        </div>
      </div>
    </div>
  </div>
</div>
