<div class="wrap">

  <div class="slideWrap">
    <ul class="slideBody">
      <li>
        <p class="text nanum_pen">"마음치유 쉼터, 재미활력 충전소"</p>
      </li>
    </ul>
    <ul class="dotWrap">
      <li class="dot pointer show" (click)='dotClick($event)'></li>
    </ul>
  </div>
  <section class="nowlive">
    <h2>마음도씨 라이브</h2>
    <!-- <div class="back"></div> -->
    <div class="innerWrap">
      <div class="banner">
        <div *ngFor ='let d of dcs'>
          <div class="openTime uppercase bold">{{d.time}} ({{d.during}})</div>
          <p class="cardTitle bold">{{d.title}}</p>
          <div class="bannerImg">
            <img src="{{d.img}}" alt="배너사진">
          </div>
          <div class="temp">
            <!-- tempDynamic 안의 "텍스트 숫자" 가 온도계 길이가 됨  -->
            <div class="tempDynamic textHidden">{{d.degree}}</div>
          </div>
          <div class="openInfo">
            <span class="textHidden classdate">{{d.time2}}</span>
            <span class="remainDays"></span>
            일 남음
            <!-- 위 tempDynamic 텍스트 숫자와 같은 값을 넣어 줄 것 -->
            <div class="degree bold"><span class="howMuch">{{d.degree}}</span>ºC 마음도씨</div>
          </div>
          <div class="bannerTexts">
            각종 요가자세를 이용한 힐링 프로그램
          </div>
          <div class="goArrow pointer" [routerLink]="['detail/1']"></div>
        </div>
       
      </div>
    </div>
  </section>
  <section class="preopen">
    <div class="innerWrap">
      <h2>오픈예정 라이브 컨텐츠</h2>
      <div class="banner">
        <div class="pre" *ngFor="let p of pre">
          <div class="openTime uppercase bold">{{p.time}}</div>
          <p class="cardTitle bold">{{p.title}}</p>
          <div class="bannerImg">
            <img src="{{p.img}}" alt="배너사진" >
          </div>
          
          <div class="bannerTexts">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </div>
          <div class="goArrow pointer" [routerLink]="['detail/2']"></div>
        </div>
        
      </div>
    </div>
  </section>
  
  <section class="today">
    <h2>오늘의 라이브</h2>
    <div class="innerWrap">
      <div class="content" *ngFor='let t of todayLive'>
        <div class="img">
          <div class="subject textHidden"><img src="{{t.tagimg}}" alt="/"></div>
          <div class="backImg"><img src="{{t.img}}" alt="/"></div>
        </div>
        <div class="todayClassInfo" [style.background] = 't.color'>
          <p class="teacher">강사 <span class="name">{{t.teacher}}</span></p>
          <p class="title bold">{{t.title}}</p>
          <p class="description">{{t.text}}</p>
          <p class="remainTime bold">시작까지 <span class="time"></span> 남음</p>
          <div class="calendarIcon">
            <div class="unfill">
              <p class="day"></p>
              <p class="uppercase month">{{t.monthName}}</p>
            </div>
            <div class="fill">
              <p class="year bold"></p>
            </div>
          </div>
          <div class="goArrow pointer" [routerLink]="['detail/3']"></div>
        </div>
      </div>
      
    </div>
  </section>
  
  <section class='month'>
    <div class="innerWrap">
      <h2>이달의 TOP 라이브</h2>
      <div class="contentBox">
            <div class="pointer" *ngFor = 'let m of monthLive'>
              <span class="no">{{m.number}}</span>
              <img src="{{m.img}}" alt="/">
              <div>
                <p class="big">{{m.title}}</p>
                <p class="small">{{m.text}}</p>
              </div>
            </div>
            
      </div>
    </div>
  </section>
</div>
