<div class="slideWrap">
  <ul class="slideBody">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<section class="preopen">
  <div class="innerWrap">
    <div class="hline">
      <h2>오픈예정 라이브 컨텐츠</h2>
      <span class="center"></span>
    </div>
    <div class="banner">
      <div class="pre1"></div>
      <div class="pre2"></div>
    </div>
  </div>
</section>
<section class="closeSoon">
  <h2>마감임박! 라이브 컨텐츠</h2>
  <span class="center"></span>
  <div class="back first"></div>
  <div class="back second"></div>
  <div class="innerWrap">
    <div class="bannerWrap">
      <div class="close soon1"></div>
      <div class="close soon2"></div>
    </div>
  </div>
</section>
<section class="today">
  <div class="hline">
    <h2>오늘의 라이브 컨텐츠</h2>
    <span class="center"></span>
  </div>
  <div class="innerWrap">
    <div class="content first"></div>
    <div class="content second"></div>
  </div>
</section>
<section class="">

</section>