<div class="wrap">
  <div class="innerWrap">
    <p class="title bold">수강신청</p>
    <form action="/">
      <div class="contentsBox">
        <div class="classInfo">
          <div class="headTag"><span class="bold inlineBlock">수강정보</span></div>
          <div class="classinfoBox">
            <div>
              <span class="block labeling">강의 이미지</span>
              <div class="cic"><img class="img" src="{{filePath}}{{info.thumbnail1}}" alt=""></div>
            </div>
            <div>
              <span class="block labeling">강의 제목</span>
              <div class="cic subject bold">{{ info.title }}</div>
            </div>
            <div>
              <span class="block labeling">강사명</span>
              <div class="cic teacherName">{{ info.inst.name }}</div>
            </div>
            <div>
              <span class="block labeling">회차</span>
              <div class="cic classRound bold">{{ info.currs.length }}회</div>
            </div>
            <div>
              <span class="block labeling">강의일정</span>
              <div class="cic classTime"><span *ngIf="info.currs.length > 0">{{ info.currs[0].date | date: 'Y. M. d. H시 m분' }}</span></div>
            </div>
            <div>
              <span class="block labeling">강의시간</span>
              <div class="cic classDuration bold">{{ info.currs[0].dur }} 분</div>
            </div>
          </div>
        </div>
        <div class="deliveryInfo" *ngIf="info.kit">
          <div class="headTag"><span class="bold inlineBlock">배송지 정보</span></div>
          <div class="deliveryInfoBox">
            <div class="destination">
              <span class="inlineBlock">배송지선택</span>
              <mat-radio-group class="inlineBlock" name="delivery" [(ngModel)]="delivery">
                <mat-radio-button value="1" (click)="deli(1)">기본 배송지</mat-radio-button>
                <mat-radio-button value="2" (click)="deli(2)">신규 배송지</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="destinationInfo">
              <div class="inlineBlock" style="width:380px; margin-right:30px;">
                <span class="need">수령인</span>
                <input type="text" name="di.name" [(ngModel)]="receipt.name" required>
              </div>
              <div class="inlineBlock" style="width:380px; margin-right:30px;">
                <span class="need">연락처</span>
                <input type="text" name="di.contact" [(ngModel)]="receipt.contact" required>
              </div>
              <div class="inlineBlock" style="width:380px;">
                <span>추가연락처</span>
                <input type="text" name="di.contactAdd" [(ngModel)]="receipt.subcontact">
              </div>
              <div class="inlineBlock" style="width:585px; margin-right:30px;">
                <span class="need">주소</span>
                <input type="text" name="di.address" [(ngModel)]="receipt.addr" required>
              </div>
              <div class="inlineBlock" style="width:585px;">
                <span class="need">상세주소</span>
                <input type="text" name="di.addressDetail" [(ngModel)]="receipt.subaddr">
              </div>
              <div class="inlineBlock" style="width:585px; margin-right:30px;">
                <span>요청사항</span>
                <select name="di_request" (click)="fakeoption()" [(ngModel)]="msg">
                  <option value="" selected>요청 사항을 직접 입력합니다.</option>
                  <option value="배송 전 미리 연락바랍니다.">배송 전 미리 연락바랍니다.</option>
                  <option value="부재시 경비실에 맡겨 주세요.">부재시 경비실에 맡겨 주세요.</option>
                  <option value="부재시 전화 주시거나 문자 남겨주세요.">부재시 전화 주시거나 문자 남겨주세요.</option>
                  <option value="문 앞에 두고 가주세요.">문 앞에 두고 가주세요.</option>
                </select>
                <input *ngIf="msg == ''" type="text" name="di_request0" class="fakeoption" placeholder="요청 사항을 직접 입력합니다." [(ngModel)]="receipt.note">
              </div>
            </div>
          </div>
        </div>
        <div class="payment">
          <div class="headTag"><span class="bold inlineBlock">포인트 결제</span></div>
          <div class="paymentBox">
            <div class="inlineBlock">
              <span>나의 보유 포인트</span>
              <input type="text" name="pay.before" [value]="point.all" readonly>
            </div>
            <div class="inlineBlock">
              <span>차감 예정 포인트</span>
              <input type="text" name="pay.use" [value]="point.pay" style="color:red;" readonly>
            </div>
            <div class="inlineBlock">
              <span>결재 후 포인트</span>
              <input type="text" name="pay.after"[value]="point.all - point.pay" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="btnBox">
          <button mat-button class="bold" (click)="apply()">수강 포인트 결제</button>
      </div>
    </form>
  </div>
</div>