.innerWrap {
    padding-top: 40px;
}
.title {
    margin:0!important;
    font-size: 30px;
    line-height: 33px;
    border-bottom: 1px solid #c4c4c4;
}
.contentsBox {
    color:#555555;
    padding-bottom: 50px;
}
.contentsBox > div {
    padding-top: 40px;
}
.headTag {
    border-bottom: 1px solid #c4c4c4;
}
.headTag span {
    width:280px;
    height:60px;
    background-color: #F7F8FC;
    font-size: 26px;
    text-align: center;
    line-height: 60px;
    color:#3F3D56;

}
.need::after {
    content: '*';
    color: #DD5E5E;
    vertical-align: super;
}
/* 수강정보 */
.classinfoBox {
    padding:25px 0;
    border-bottom: 1px solid #c4c4c4;
    display: grid;
    grid-template-columns:190px 370px 180px 90px 180px 90px;
    column-gap: 20px;
}
.classinfoBox .labeling {
    height:50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border-bottom: 1px solid #c4c4c4;
}
.classinfoBox .cic {
    height: 110px;
    text-align: center;
    line-height: 110px;
    font-size: 16px;
}

.classinfoBox .img {
    width: 190px;
    height: 110px;
}
.classinfoBox .subject , .classinfoBox .classRound , .classinfoBox .classDuration {
    font-size: 22px;
}
/* 배송지 정보 */

.deliveryInfoBox{
    padding:40px 0;
    border-bottom:1px solid #c4c4c4;
}
.deliveryInfoBox .destination span {
    padding-right: 15px;
    font-size: 18px;
    letter-spacing: 5px;
    vertical-align: middle;
}
.deliveryInfoBox .destination .mat-radio-button {
    padding :0 15px;
}

.deliveryInfoBox .destinationInfo > div {
    width:100%;
    height:70px;
    padding-top: 40px;
    position: relative;
} 
.deliveryInfoBox .destinationInfo > div span {
    display:block;
    height:30px;
    font-size: 20px;
    color:#3F3D56;
    line-height: 30px;
}
.deliveryInfoBox .destinationInfo > div input,
.deliveryInfoBox .destinationInfo > div select {
    width:100%;
    color:#3F3D56;
    font-size: 22px;
    display:block;
    height:40px;
    box-sizing: border-box;
    padding: 8px 0;
    border:0;
    border-bottom: 1px solid #c4c4c4;
    text-indent: 15px;
}
.deliveryInfoBox .destinationInfo > div input::placeholder{
    color:#ccc;
}
.deliveryInfoBox .destinationInfo > div input:focus,
.deliveryInfoBox .destinationInfo > div select:focus{
    outline: none;
}
.fakeoption {
    position: absolute;
    bottom:0;
    width:550px!important;
}
/* 포인트 결제 */
.paymentBox {
    padding:40px 0;
    border-bottom: 1px solid #c4c4c4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.paymentBox > div {
    width:100%;
    height:70px;
    padding-top: 40px;
    position: relative;
} 
.paymentBox > div::after {
    content: 'point';
    display: block;
    position: absolute;
    bottom:8px;
    right:10px;
}
.paymentBox > div span {
    display:block;
    height:30px;
    font-size: 20px;
    color:#3F3D56;
    line-height: 30px;
}
.paymentBox > div input {
    width:100%;
    color:#3F3D56;
    font-size: 22px;
    display:block;
    height:40px;
    box-sizing: border-box;
    padding: 8px 70px 8px 0;
    border:0;
    border-bottom: 1px solid #c4c4c4;
    text-indent: 15px;
    text-align: right;
}
.paymentBox > div input::placeholder{
    color:#ccc;
}
.paymentBox > div input:focus{
    outline: none;
}
/* 버튼 */
.btnBox {
    text-align: center;
}
.btnBox button {
    width:300px;
    height:60px;
    line-height: 60px;
    color:#fff;
    font-size: 26px;
    background-color: #3F3D56;
}